<!-- GeoChart generated in R 3.3.2 by googleVis 0.6.1 package -->
<!-- Thu Dec 22 23:17:26 2016 -->


<!-- jsHeader -->
<script type="text/javascript">
 
// jsData 
function gvisDataGeoChartID1ddb446f22ab () {
var data = new google.visualization.DataTable();
var datajson =
[
 [
"AE",
0
],
[
"AL",
0.06162519847
],
[
"AT",
0.29069466
],
[
"AU",
0.01058123319
],
[
"BE",
-0.119798858
],
[
"BG",
0.1144060499
],
[
"BR",
0.002659484174
],
[
"CA",
-0.04195818432
],
[
"CH",
0.0191935713
],
[
"CL",
0.1053546387
],
[
"CR",
-0.03322901968
],
[
"CZ",
-0.07443925001
],
[
"DE",
0.6432743961
],
[
"DK",
0.04227020956
],
[
"EE",
0.2192561055
],
[
"ES",
0.134285305
],
[
"FI",
0.01239906042
],
[
"GB",
0.03777559776
],
[
"GR",
0.04000729406
],
[
"HK",
0.1114784204
],
[
"HR",
0.08641022766
],
[
"HU",
0.06263207322
],
[
"IE",
0
],
[
"IS",
-0.09974972626
],
[
"IT",
0.03507293247
],
[
"KZ",
0.06792322233
],
[
"LI",
2.077365732
],
[
"LT",
-0.4939535129
],
[
"LU",
0.08500579247
],
[
"LV",
0.07315429217
],
[
"MO",
-0.05515626327
],
[
"MY",
-0.01799575495
],
[
"NL",
-0.09551353005
],
[
"NO",
0.213826539
],
[
"NZ",
0.08138874202
],
[
"PE",
0.03872550707
],
[
"PL",
-0.04452177546
],
[
"PT",
0.1622624057
],
[
"QA",
-0.2307028952
],
[
"RO",
0.1510950118
],
[
"RU",
-0.09715211711
],
[
"SG",
0.03837437896
],
[
"SI",
-0.244300732
],
[
"SK",
-0.2062456062
],
[
"TN",
-0.08571583623
],
[
"US",
0.02317617608
] 
];
data.addColumn('string','country');
data.addColumn('number','AtHomeMother');
data.addRows(datajson);
return(data);
}
 
// jsDrawChart
function drawChartGeoChartID1ddb446f22ab() {
var data = gvisDataGeoChartID1ddb446f22ab();
var options = {};
options["width"] = 556;
options["height"] = 347;


    var chart = new google.visualization.GeoChart(
    document.getElementById('GeoChartID1ddb446f22ab')
    );
    chart.draw(data,options);
    

}
  
 
// jsDisplayChart
(function() {
var pkgs = window.__gvisPackages = window.__gvisPackages || [];
var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
var chartid = "geochart";
  
// Manually see if chartid is in pkgs (not all browsers support Array.indexOf)
var i, newPackage = true;
for (i = 0; newPackage && i < pkgs.length; i++) {
if (pkgs[i] === chartid)
newPackage = false;
}
if (newPackage)
  pkgs.push(chartid);
  
// Add the drawChart function to the global list of callbacks
callbacks.push(drawChartGeoChartID1ddb446f22ab);
})();
function displayChartGeoChartID1ddb446f22ab() {
  var pkgs = window.__gvisPackages = window.__gvisPackages || [];
  var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
  window.clearTimeout(window.__gvisLoad);
  // The timeout is set to 100 because otherwise the container div we are
  // targeting might not be part of the document yet
  window.__gvisLoad = setTimeout(function() {
  var pkgCount = pkgs.length;
  google.load("visualization", "1", { packages:pkgs, callback: function() {
  if (pkgCount != pkgs.length) {
  // Race condition where another setTimeout call snuck in after us; if
  // that call added a package, we must not shift its callback
  return;
}
while (callbacks.length > 0)
callbacks.shift()();
} });
}, 100);
}
 
// jsFooter
</script>
 
<!-- jsChart -->  
<script type="text/javascript" src="https://www.google.com/jsapi?callback=displayChartGeoChartID1ddb446f22ab"></script>
 
<!-- divChart -->
  
<div id="GeoChartID1ddb446f22ab" 
  style="width: 556; height: 347;">
</div>
