<!-- GeoChart generated in R 3.3.2 by googleVis 0.6.1 package -->
<!-- Thu Dec 22 23:17:27 2016 -->


<!-- jsHeader -->
<script type="text/javascript">
 
// jsData 
function gvisDataGeoChartID1ddb5c4d2ba6 () {
var data = new google.visualization.DataTable();
var datajson =
[
 [
"AE",
0.1224644242
],
[
"AL",
-0.06169883077
],
[
"AT",
0.09473106825
],
[
"AU",
0.05157131834
],
[
"BE",
0.1216933591
],
[
"BG",
0.1020687849
],
[
"BR",
-0.02256866276
],
[
"CA",
0.1504790548
],
[
"CH",
0.1179067245
],
[
"CL",
-0.008846272366
],
[
"CR",
-0.001622518583
],
[
"CZ",
0.1668006487
],
[
"DE",
0.2161051576
],
[
"DK",
0.05398679639
],
[
"EE",
0.1627719125
],
[
"ES",
0.05730062725
],
[
"FI",
0.06917879492
],
[
"GB",
0.1196681549
],
[
"GR",
0.1680461714
],
[
"HK",
0.1675847862
],
[
"HR",
0.2960973882
],
[
"HU",
0
],
[
"IE",
0.1469444616
],
[
"IS",
0.07159348569
],
[
"IT",
0.07827571808
],
[
"KZ",
0.01740031639
],
[
"LI",
-0.8487188838
],
[
"LT",
-0.1383926267
],
[
"LU",
-0.09784810131
],
[
"LV",
0.04096509951
],
[
"MO",
0.06068396726
],
[
"MY",
-0.01220757738
],
[
"NL",
-0.0009243809846
],
[
"NO",
-0.04540531694
],
[
"NZ",
0.07351432574
],
[
"PE",
0.01589169196
],
[
"PL",
0.03191438373
],
[
"PT",
-0.02646870669
],
[
"QA",
0.1108524215
],
[
"RO",
0.04042231615
],
[
"RU",
0.1799277229
],
[
"SG",
0.001058578286
],
[
"SI",
0.1254017644
],
[
"SK",
0.08860962869
],
[
"TN",
0.155702467
],
[
"US",
-0.004777421038
] 
];
data.addColumn('string','country');
data.addColumn('number','AtHomeFather');
data.addRows(datajson);
return(data);
}
 
// jsDrawChart
function drawChartGeoChartID1ddb5c4d2ba6() {
var data = gvisDataGeoChartID1ddb5c4d2ba6();
var options = {};
options["width"] = 556;
options["height"] = 347;


    var chart = new google.visualization.GeoChart(
    document.getElementById('GeoChartID1ddb5c4d2ba6')
    );
    chart.draw(data,options);
    

}
  
 
// jsDisplayChart
(function() {
var pkgs = window.__gvisPackages = window.__gvisPackages || [];
var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
var chartid = "geochart";
  
// Manually see if chartid is in pkgs (not all browsers support Array.indexOf)
var i, newPackage = true;
for (i = 0; newPackage && i < pkgs.length; i++) {
if (pkgs[i] === chartid)
newPackage = false;
}
if (newPackage)
  pkgs.push(chartid);
  
// Add the drawChart function to the global list of callbacks
callbacks.push(drawChartGeoChartID1ddb5c4d2ba6);
})();
function displayChartGeoChartID1ddb5c4d2ba6() {
  var pkgs = window.__gvisPackages = window.__gvisPackages || [];
  var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
  window.clearTimeout(window.__gvisLoad);
  // The timeout is set to 100 because otherwise the container div we are
  // targeting might not be part of the document yet
  window.__gvisLoad = setTimeout(function() {
  var pkgCount = pkgs.length;
  google.load("visualization", "1", { packages:pkgs, callback: function() {
  if (pkgCount != pkgs.length) {
  // Race condition where another setTimeout call snuck in after us; if
  // that call added a package, we must not shift its callback
  return;
}
while (callbacks.length > 0)
callbacks.shift()();
} });
}, 100);
}
 
// jsFooter
</script>
 
<!-- jsChart -->  
<script type="text/javascript" src="https://www.google.com/jsapi?callback=displayChartGeoChartID1ddb5c4d2ba6"></script>
 
<!-- divChart -->
  
<div id="GeoChartID1ddb5c4d2ba6" 
  style="width: 556; height: 347;">
</div>
