<!-- GeoChart generated in R 3.3.2 by googleVis 0.6.1 package -->
<!-- Thu Dec 22 23:17:25 2016 -->


<!-- jsHeader -->
<script type="text/javascript">
 
// jsData 
function gvisDataGeoChartID1ddb22dab43d () {
var data = new google.visualization.DataTable();
var datajson =
[
 [
"AE",
0.04643478085
],
[
"AL",
0.05611611644
],
[
"AT",
0.0837970442
],
[
"AU",
0.05620823963
],
[
"BE",
0.0786105069
],
[
"BG",
0.1150329892
],
[
"BR",
0.02461842117
],
[
"CA",
0.1594300655
],
[
"CH",
0.08509950413
],
[
"CL",
0.02257011526
],
[
"CR",
0.09234380459
],
[
"CZ",
0.08142843907
],
[
"DE",
0.1630633896
],
[
"DK",
0.1828003824
],
[
"EE",
0.06313200567
],
[
"ES",
0.1126834186
],
[
"FI",
0.08021561202
],
[
"GB",
0.1484565692
],
[
"GR",
0.1418347385
],
[
"HK",
0.03779471034
],
[
"HR",
0.1118786811
],
[
"HU",
0.07805632904
],
[
"IE",
0.09672730547
],
[
"IS",
0.1466845121
],
[
"IT",
0.07051543978
],
[
"KZ",
0.1286494382
],
[
"LI",
0.2521799956
],
[
"LT",
0.107980325
],
[
"LU",
0.008741008508
],
[
"LV",
0.2027338206
],
[
"MO",
0.08725204712
],
[
"MY",
0.1367310269
],
[
"NL",
0.07543688171
],
[
"NO",
0.2058242989
],
[
"NZ",
0.1701072835
],
[
"PE",
0.04187464977
],
[
"PL",
0.1882738175
],
[
"PT",
0.1473152865
],
[
"QA",
-0.007993009192
],
[
"RO",
0.07851202431
],
[
"RU",
0.02213209476
],
[
"SG",
0.06659400304
],
[
"SI",
0.1404409989
],
[
"SK",
0.1390063363
],
[
"TN",
0.08706328258
],
[
"US",
0.114567217
] 
];
data.addColumn('string','country');
data.addColumn('number','MotivatingFactors');
data.addRows(datajson);
return(data);
}
 
// jsDrawChart
function drawChartGeoChartID1ddb22dab43d() {
var data = gvisDataGeoChartID1ddb22dab43d();
var options = {};
options["width"] = 556;
options["height"] = 347;


    var chart = new google.visualization.GeoChart(
    document.getElementById('GeoChartID1ddb22dab43d')
    );
    chart.draw(data,options);
    

}
  
 
// jsDisplayChart
(function() {
var pkgs = window.__gvisPackages = window.__gvisPackages || [];
var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
var chartid = "geochart";
  
// Manually see if chartid is in pkgs (not all browsers support Array.indexOf)
var i, newPackage = true;
for (i = 0; newPackage && i < pkgs.length; i++) {
if (pkgs[i] === chartid)
newPackage = false;
}
if (newPackage)
  pkgs.push(chartid);
  
// Add the drawChart function to the global list of callbacks
callbacks.push(drawChartGeoChartID1ddb22dab43d);
})();
function displayChartGeoChartID1ddb22dab43d() {
  var pkgs = window.__gvisPackages = window.__gvisPackages || [];
  var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
  window.clearTimeout(window.__gvisLoad);
  // The timeout is set to 100 because otherwise the container div we are
  // targeting might not be part of the document yet
  window.__gvisLoad = setTimeout(function() {
  var pkgCount = pkgs.length;
  google.load("visualization", "1", { packages:pkgs, callback: function() {
  if (pkgCount != pkgs.length) {
  // Race condition where another setTimeout call snuck in after us; if
  // that call added a package, we must not shift its callback
  return;
}
while (callbacks.length > 0)
callbacks.shift()();
} });
}, 100);
}
 
// jsFooter
</script>
 
<!-- jsChart -->  
<script type="text/javascript" src="https://www.google.com/jsapi?callback=displayChartGeoChartID1ddb22dab43d"></script>
 
<!-- divChart -->
  
<div id="GeoChartID1ddb22dab43d" 
  style="width: 556; height: 347;">
</div>
