<!-- GeoChart generated in R 3.3.2 by googleVis 0.6.1 package -->
<!-- Thu Dec 22 23:17:36 2016 -->


<!-- jsHeader -->
<script type="text/javascript">
 
// jsData 
function gvisDataGeoChartID1ddb2d56ad5b () {
var data = new google.visualization.DataTable();
var datajson =
[
 [
"AE",
0.08403010991
],
[
"AL",
0.02769777076
],
[
"AT",
0.1373877457
],
[
"AU",
-0.004859957858
],
[
"BE",
0.04117833929
],
[
"BG",
-0.007515192744
],
[
"BR",
0.0495045609
],
[
"CA",
0.08415771922
],
[
"CH",
0.057299222
],
[
"CL",
0.03929766552
],
[
"CR",
0.1291812413
],
[
"CZ",
-0.06730248985
],
[
"DE",
-0.001632667068
],
[
"DK",
0.06300724012
],
[
"EE",
-0.02913623972
],
[
"ES",
0.08332520755
],
[
"FI",
0.07278694714
],
[
"GB",
0.1513634299
],
[
"GR",
0.02664395659
],
[
"HK",
0.04990195313
],
[
"HR",
-0.0203794029
],
[
"HU",
0.02763109244
],
[
"IE",
0.126573493
],
[
"IS",
0.1451287954
],
[
"IT",
0.02036752837
],
[
"KZ",
0.07791341072
],
[
"LI",
-0.55447324
],
[
"LT",
-0.01562684425
],
[
"LU",
0.07871869623
],
[
"LV",
0.09142647424
],
[
"MO",
-0.01957670527
],
[
"MY",
0.0244267212
],
[
"NL",
0.02466593298
],
[
"NO",
-0.01430956564
],
[
"NZ",
0.08130081153
],
[
"PE",
0.03539198829
],
[
"PL",
-0.02914221227
],
[
"PT",
0.07354856754
],
[
"QA",
0.1523172101
],
[
"RO",
0.06910328215
],
[
"RU",
-0.08057294631
],
[
"SG",
-0.005987980251
],
[
"SI",
-0.01870086936
],
[
"SK",
0.02467438988
],
[
"TN",
-0.02544138162
],
[
"US",
0.1351636787
] 
];
data.addColumn('string','country');
data.addColumn('number','PerceivedControl');
data.addRows(datajson);
return(data);
}
 
// jsDrawChart
function drawChartGeoChartID1ddb2d56ad5b() {
var data = gvisDataGeoChartID1ddb2d56ad5b();
var options = {};
options["width"] = 556;
options["height"] = 347;


    var chart = new google.visualization.GeoChart(
    document.getElementById('GeoChartID1ddb2d56ad5b')
    );
    chart.draw(data,options);
    

}
  
 
// jsDisplayChart
(function() {
var pkgs = window.__gvisPackages = window.__gvisPackages || [];
var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
var chartid = "geochart";
  
// Manually see if chartid is in pkgs (not all browsers support Array.indexOf)
var i, newPackage = true;
for (i = 0; newPackage && i < pkgs.length; i++) {
if (pkgs[i] === chartid)
newPackage = false;
}
if (newPackage)
  pkgs.push(chartid);
  
// Add the drawChart function to the global list of callbacks
callbacks.push(drawChartGeoChartID1ddb2d56ad5b);
})();
function displayChartGeoChartID1ddb2d56ad5b() {
  var pkgs = window.__gvisPackages = window.__gvisPackages || [];
  var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
  window.clearTimeout(window.__gvisLoad);
  // The timeout is set to 100 because otherwise the container div we are
  // targeting might not be part of the document yet
  window.__gvisLoad = setTimeout(function() {
  var pkgCount = pkgs.length;
  google.load("visualization", "1", { packages:pkgs, callback: function() {
  if (pkgCount != pkgs.length) {
  // Race condition where another setTimeout call snuck in after us; if
  // that call added a package, we must not shift its callback
  return;
}
while (callbacks.length > 0)
callbacks.shift()();
} });
}, 100);
}
 
// jsFooter
</script>
 
<!-- jsChart -->  
<script type="text/javascript" src="https://www.google.com/jsapi?callback=displayChartGeoChartID1ddb2d56ad5b"></script>
 
<!-- divChart -->
  
<div id="GeoChartID1ddb2d56ad5b" 
  style="width: 556; height: 347;">
</div>
