<!-- GeoChart generated in R 3.3.2 by googleVis 0.6.1 package -->
<!-- Thu Dec 22 23:17:33 2016 -->


<!-- jsHeader -->
<script type="text/javascript">
 
// jsData 
function gvisDataGeoChartID1ddb5025db6b () {
var data = new google.visualization.DataTable();
var datajson =
[
 [
"AE",
0.0378381273
],
[
"AL",
0.03530253586
],
[
"AT",
0.01717049355
],
[
"AU",
-0.0008678982663
],
[
"BE",
0.004136954679
],
[
"BG",
0.05237459801
],
[
"BR",
0.02796704401
],
[
"CA",
0.03492392768
],
[
"CH",
0.03469404073
],
[
"CL",
-0.02863755722
],
[
"CR",
0.06596039168
],
[
"CZ",
0.02490140889
],
[
"DE",
-0.0328370536
],
[
"DK",
0.0156659849
],
[
"EE",
0.02426499578
],
[
"ES",
0.01500863224
],
[
"FI",
0.05407247763
],
[
"GB",
0
],
[
"GR",
-0.05811163874
],
[
"HK",
0.0576301678
],
[
"HR",
0.05955967212
],
[
"HU",
0.004078408296
],
[
"IE",
0.0237507036
],
[
"IS",
0.01546859485
],
[
"IT",
0
],
[
"KZ",
0.04555190454
],
[
"LI",
0.1153038561
],
[
"LT",
0.0272777759
],
[
"LU",
-0.03147869331
],
[
"LV",
-0.03346825766
],
[
"MO",
0.02732258951
],
[
"MY",
0.0451181372
],
[
"NL",
0.03142005181
],
[
"NO",
0.01106773828
],
[
"NZ",
0.05721457055
],
[
"PE",
0.054892737
],
[
"PL",
-0.01361713331
],
[
"PT",
-0.04787386561
],
[
"QA",
-0.07777414829
],
[
"RO",
0.05736481973
],
[
"RU",
0.122846895
],
[
"SG",
0.06694563685
],
[
"SI",
-0.01667197736
],
[
"SK",
-0.03994910514
],
[
"TN",
0.08344393182
],
[
"US",
0.05494619095
] 
];
data.addColumn('string','country');
data.addColumn('number','SenseOfBelonging');
data.addRows(datajson);
return(data);
}
 
// jsDrawChart
function drawChartGeoChartID1ddb5025db6b() {
var data = gvisDataGeoChartID1ddb5025db6b();
var options = {};
options["width"] = 556;
options["height"] = 347;


    var chart = new google.visualization.GeoChart(
    document.getElementById('GeoChartID1ddb5025db6b')
    );
    chart.draw(data,options);
    

}
  
 
// jsDisplayChart
(function() {
var pkgs = window.__gvisPackages = window.__gvisPackages || [];
var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
var chartid = "geochart";
  
// Manually see if chartid is in pkgs (not all browsers support Array.indexOf)
var i, newPackage = true;
for (i = 0; newPackage && i < pkgs.length; i++) {
if (pkgs[i] === chartid)
newPackage = false;
}
if (newPackage)
  pkgs.push(chartid);
  
// Add the drawChart function to the global list of callbacks
callbacks.push(drawChartGeoChartID1ddb5025db6b);
})();
function displayChartGeoChartID1ddb5025db6b() {
  var pkgs = window.__gvisPackages = window.__gvisPackages || [];
  var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
  window.clearTimeout(window.__gvisLoad);
  // The timeout is set to 100 because otherwise the container div we are
  // targeting might not be part of the document yet
  window.__gvisLoad = setTimeout(function() {
  var pkgCount = pkgs.length;
  google.load("visualization", "1", { packages:pkgs, callback: function() {
  if (pkgCount != pkgs.length) {
  // Race condition where another setTimeout call snuck in after us; if
  // that call added a package, we must not shift its callback
  return;
}
while (callbacks.length > 0)
callbacks.shift()();
} });
}, 100);
}
 
// jsFooter
</script>
 
<!-- jsChart -->  
<script type="text/javascript" src="https://www.google.com/jsapi?callback=displayChartGeoChartID1ddb5025db6b"></script>
 
<!-- divChart -->
  
<div id="GeoChartID1ddb5025db6b" 
  style="width: 556; height: 347;">
</div>
