<!-- GeoChart generated in R 3.3.2 by googleVis 0.6.1 package -->
<!-- Thu Dec 22 23:17:12 2016 -->


<!-- jsHeader -->
<script type="text/javascript">
 
// jsData 
function gvisDataGeoChartID1ddb7ed3835e () {
var data = new google.visualization.DataTable();
var datajson =
[
 [
"AE",
-0.005051844373
],
[
"AL",
-0.01691839383
],
[
"AT",
-0.04913139661
],
[
"AU",
0.191357233
],
[
"BE",
-0.004549101863
],
[
"BG",
-0.1609595562
],
[
"BR",
-0.03991745173
],
[
"CA",
-0.07904423951
],
[
"CH",
-0.00619448432
],
[
"CL",
0.1067690332
],
[
"CR",
-0.07607279425
],
[
"CZ",
0.001019466609
],
[
"DE",
-0.2397152576
],
[
"DK",
-0.1382377446
],
[
"EE",
-0.02203392899
],
[
"ES",
-0.07893518123
],
[
"FI",
-0.1011160025
],
[
"GB",
-0.05852428553
],
[
"GR",
-0.02014886117
],
[
"HK",
-0.01973594999
],
[
"HR",
0.1453372946
],
[
"HU",
0.0476326034
],
[
"IE",
-0.1148502985
],
[
"IS",
-0.1354367001
],
[
"IT",
0.01748792579
],
[
"KZ",
-0.03533633588
],
[
"LI",
0
],
[
"LT",
0.1050693715
],
[
"LU",
0.1757808324
],
[
"LV",
-0.09865093869
],
[
"MO",
0.03038807202
],
[
"MY",
-0.05730804493
],
[
"NL",
0.2243464744
],
[
"NO",
-0.1182936362
],
[
"NZ",
0
],
[
"PE",
0.1573006031
],
[
"PL",
0.04961913077
],
[
"PT",
0.09679139026
],
[
"QA",
0.1437190337
],
[
"RO",
0.08433072153
],
[
"RU",
-0.06591682197
],
[
"SG",
0.01337978904
],
[
"SI",
0.004892947227
],
[
"SK",
-0.2441484962
],
[
"TN",
0.04393395941
],
[
"US",
-0.03669442693
] 
];
data.addColumn('string','country');
data.addColumn('number','PossessionsStudyOwnRoom');
data.addRows(datajson);
return(data);
}
 
// jsDrawChart
function drawChartGeoChartID1ddb7ed3835e() {
var data = gvisDataGeoChartID1ddb7ed3835e();
var options = {};
options["width"] = 556;
options["height"] = 347;


    var chart = new google.visualization.GeoChart(
    document.getElementById('GeoChartID1ddb7ed3835e')
    );
    chart.draw(data,options);
    

}
  
 
// jsDisplayChart
(function() {
var pkgs = window.__gvisPackages = window.__gvisPackages || [];
var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
var chartid = "geochart";
  
// Manually see if chartid is in pkgs (not all browsers support Array.indexOf)
var i, newPackage = true;
for (i = 0; newPackage && i < pkgs.length; i++) {
if (pkgs[i] === chartid)
newPackage = false;
}
if (newPackage)
  pkgs.push(chartid);
  
// Add the drawChart function to the global list of callbacks
callbacks.push(drawChartGeoChartID1ddb7ed3835e);
})();
function displayChartGeoChartID1ddb7ed3835e() {
  var pkgs = window.__gvisPackages = window.__gvisPackages || [];
  var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
  window.clearTimeout(window.__gvisLoad);
  // The timeout is set to 100 because otherwise the container div we are
  // targeting might not be part of the document yet
  window.__gvisLoad = setTimeout(function() {
  var pkgCount = pkgs.length;
  google.load("visualization", "1", { packages:pkgs, callback: function() {
  if (pkgCount != pkgs.length) {
  // Race condition where another setTimeout call snuck in after us; if
  // that call added a package, we must not shift its callback
  return;
}
while (callbacks.length > 0)
callbacks.shift()();
} });
}, 100);
}
 
// jsFooter
</script>
 
<!-- jsChart -->  
<script type="text/javascript" src="https://www.google.com/jsapi?callback=displayChartGeoChartID1ddb7ed3835e"></script>
 
<!-- divChart -->
  
<div id="GeoChartID1ddb7ed3835e" 
  style="width: 556; height: 347;">
</div>
