<!-- GeoChart generated in R 3.3.2 by googleVis 0.6.1 package -->
<!-- Thu Dec 22 23:17:18 2016 -->


<!-- jsHeader -->
<script type="text/javascript">
 
// jsData 
function gvisDataGeoChartID1ddb259422de () {
var data = new google.visualization.DataTable();
var datajson =
[
 [
"AE",
0.003906873181
],
[
"AL",
-0.008043659791
],
[
"AT",
-0.007865434739
],
[
"AU",
0.0582396542
],
[
"BE",
0.07677099102
],
[
"BG",
0.1208782077
],
[
"BR",
0.02946448754
],
[
"CA",
0.02851925969
],
[
"CH",
0.04934805336
],
[
"CL",
0.1035107051
],
[
"CR",
-0.1070235119
],
[
"CZ",
0.1118671437
],
[
"DE",
0.09727276992
],
[
"DK",
0.2061806558
],
[
"EE",
0.08080368453
],
[
"ES",
0.07533651337
],
[
"FI",
0.1184360643
],
[
"GB",
0.08201423913
],
[
"GR",
0.01058326239
],
[
"HK",
-0.002678229292
],
[
"HR",
-0.03444633781
],
[
"HU",
0.06452239854
],
[
"IE",
-0.04296557667
],
[
"IS",
0.1463204881
],
[
"IT",
0.05117180932
],
[
"KZ",
0.05344984974
],
[
"LI",
0.2052652424
],
[
"LT",
-0.004195450025
],
[
"LU",
0.1467134937
],
[
"LV",
0.1167093325
],
[
"MO",
0.07294410673
],
[
"MY",
0.07787114294
],
[
"NL",
0.04038657018
],
[
"NO",
0.01302531055
],
[
"NZ",
0.05495119466
],
[
"PE",
-0.02051426634
],
[
"PL",
0.03616032886
],
[
"PT",
-0.01691300158
],
[
"QA",
-0.02534768298
],
[
"RO",
-0.07402093202
],
[
"RU",
0.05925232074
],
[
"SG",
0.1272944005
],
[
"SI",
0.02689236408
],
[
"SK",
0.08350976039
],
[
"TN",
0.08069988896
],
[
"US",
0.08852072468
] 
];
data.addColumn('string','country');
data.addColumn('number','PossessionsStudySoftware');
data.addRows(datajson);
return(data);
}
 
// jsDrawChart
function drawChartGeoChartID1ddb259422de() {
var data = gvisDataGeoChartID1ddb259422de();
var options = {};
options["width"] = 556;
options["height"] = 347;


    var chart = new google.visualization.GeoChart(
    document.getElementById('GeoChartID1ddb259422de')
    );
    chart.draw(data,options);
    

}
  
 
// jsDisplayChart
(function() {
var pkgs = window.__gvisPackages = window.__gvisPackages || [];
var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
var chartid = "geochart";
  
// Manually see if chartid is in pkgs (not all browsers support Array.indexOf)
var i, newPackage = true;
for (i = 0; newPackage && i < pkgs.length; i++) {
if (pkgs[i] === chartid)
newPackage = false;
}
if (newPackage)
  pkgs.push(chartid);
  
// Add the drawChart function to the global list of callbacks
callbacks.push(drawChartGeoChartID1ddb259422de);
})();
function displayChartGeoChartID1ddb259422de() {
  var pkgs = window.__gvisPackages = window.__gvisPackages || [];
  var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
  window.clearTimeout(window.__gvisLoad);
  // The timeout is set to 100 because otherwise the container div we are
  // targeting might not be part of the document yet
  window.__gvisLoad = setTimeout(function() {
  var pkgCount = pkgs.length;
  google.load("visualization", "1", { packages:pkgs, callback: function() {
  if (pkgCount != pkgs.length) {
  // Race condition where another setTimeout call snuck in after us; if
  // that call added a package, we must not shift its callback
  return;
}
while (callbacks.length > 0)
callbacks.shift()();
} });
}, 100);
}
 
// jsFooter
</script>
 
<!-- jsChart -->  
<script type="text/javascript" src="https://www.google.com/jsapi?callback=displayChartGeoChartID1ddb259422de"></script>
 
<!-- divChart -->
  
<div id="GeoChartID1ddb259422de" 
  style="width: 556; height: 347;">
</div>
