<!-- GeoChart generated in R 3.3.2 by googleVis 0.6.1 package -->
<!-- Thu Dec 22 23:17:22 2016 -->


<!-- jsHeader -->
<script type="text/javascript">
 
// jsData 
function gvisDataGeoChartID1ddb20226744 () {
var data = new google.visualization.DataTable();
var datajson =
[
 [
"AE",
-0.01587455466
],
[
"AL",
-0.01915009293
],
[
"AT",
0.01099905827
],
[
"AU",
-0.03915871618
],
[
"BE",
-0.0434744002
],
[
"BG",
0.03609475539
],
[
"BR",
0.02640645348
],
[
"CA",
0.00416186102
],
[
"CH",
-0.08073217031
],
[
"CL",
0
],
[
"CR",
-0.01612595832
],
[
"CZ",
-0.05078328614
],
[
"DE",
-0.1148202868
],
[
"DK",
0.003795508947
],
[
"EE",
0.01034536832
],
[
"ES",
-0.02083486116
],
[
"FI",
-0.03402288349
],
[
"GB",
0.002686171068
],
[
"GR",
0.02823609264
],
[
"HK",
0.007608454281
],
[
"HR",
-0.03177631518
],
[
"HU",
0.009394003834
],
[
"IE",
0.05060812552
],
[
"IS",
0.09946664475
],
[
"IT",
0.006198005244
],
[
"KZ",
0.01260916931
],
[
"LI",
-0.05898595244
],
[
"LT",
0.04723604097
],
[
"LU",
0.0009672681259
],
[
"LV",
-0.03219105473
],
[
"MO",
0.03149753335
],
[
"MY",
-0.06212539685
],
[
"NL",
-0.03797779725
],
[
"NO",
-0.004119341623
],
[
"NZ",
0.001216332235
],
[
"PE",
-0.06030184513
],
[
"PL",
0.06267649065
],
[
"PT",
0.04575993632
],
[
"QA",
-0.01007634341
],
[
"RO",
-0.0202335646
],
[
"RU",
-0.03103550134
],
[
"SG",
-0.04746776309
],
[
"SI",
-0.02565213366
],
[
"SK",
-0.02908104706
],
[
"TN",
0.05248090245
],
[
"US",
-0.05486097278
] 
];
data.addColumn('string','country');
data.addColumn('number','PossessionsWealth');
data.addRows(datajson);
return(data);
}
 
// jsDrawChart
function drawChartGeoChartID1ddb20226744() {
var data = gvisDataGeoChartID1ddb20226744();
var options = {};
options["width"] = 556;
options["height"] = 347;


    var chart = new google.visualization.GeoChart(
    document.getElementById('GeoChartID1ddb20226744')
    );
    chart.draw(data,options);
    

}
  
 
// jsDisplayChart
(function() {
var pkgs = window.__gvisPackages = window.__gvisPackages || [];
var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
var chartid = "geochart";
  
// Manually see if chartid is in pkgs (not all browsers support Array.indexOf)
var i, newPackage = true;
for (i = 0; newPackage && i < pkgs.length; i++) {
if (pkgs[i] === chartid)
newPackage = false;
}
if (newPackage)
  pkgs.push(chartid);
  
// Add the drawChart function to the global list of callbacks
callbacks.push(drawChartGeoChartID1ddb20226744);
})();
function displayChartGeoChartID1ddb20226744() {
  var pkgs = window.__gvisPackages = window.__gvisPackages || [];
  var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
  window.clearTimeout(window.__gvisLoad);
  // The timeout is set to 100 because otherwise the container div we are
  // targeting might not be part of the document yet
  window.__gvisLoad = setTimeout(function() {
  var pkgCount = pkgs.length;
  google.load("visualization", "1", { packages:pkgs, callback: function() {
  if (pkgCount != pkgs.length) {
  // Race condition where another setTimeout call snuck in after us; if
  // that call added a package, we must not shift its callback
  return;
}
while (callbacks.length > 0)
callbacks.shift()();
} });
}, 100);
}
 
// jsFooter
</script>
 
<!-- jsChart -->  
<script type="text/javascript" src="https://www.google.com/jsapi?callback=displayChartGeoChartID1ddb20226744"></script>
 
<!-- divChart -->
  
<div id="GeoChartID1ddb20226744" 
  style="width: 556; height: 347;">
</div>
