<!-- GeoChart generated in R 3.3.2 by googleVis 0.6.1 package -->
<!-- Thu Dec 22 23:17:21 2016 -->


<!-- jsHeader -->
<script type="text/javascript">
 
// jsData 
function gvisDataGeoChartID1ddb2b15bcdd () {
var data = new google.visualization.DataTable();
var datajson =
[
 [
"AE",
0.07772226643
],
[
"AL",
0.0257148454
],
[
"AT",
0.04392798462
],
[
"AU",
-0.002707705669
],
[
"BE",
-0.0178680473
],
[
"BG",
0.1087550801
],
[
"BR",
0.06880973905
],
[
"CA",
0.009146553416
],
[
"CH",
0.007971832123
],
[
"CL",
0.02756321067
],
[
"CR",
0.03706995327
],
[
"CZ",
-0.02727267279
],
[
"DE",
0.05958140546
],
[
"DK",
0.03622857428
],
[
"EE",
0.08304664646
],
[
"ES",
0.06718089096
],
[
"FI",
0.01700109806
],
[
"GB",
0.007915969401
],
[
"GR",
0.0521212811
],
[
"HK",
0.05173669521
],
[
"HR",
0.04908502836
],
[
"HU",
0.04676336223
],
[
"IE",
-0.02534862608
],
[
"IS",
0
],
[
"IT",
0.04444485577
],
[
"KZ",
0.08881752102
],
[
"LI",
0.382568818
],
[
"LT",
0.09875280907
],
[
"LU",
-0.01058119207
],
[
"LV",
0.03580448943
],
[
"MO",
0.02897984246
],
[
"MY",
0.04596303539
],
[
"NL",
-0.07229476456
],
[
"NO",
0.02839694274
],
[
"NZ",
0.01725629794
],
[
"PE",
0
],
[
"PL",
0.06376729721
],
[
"PT",
0.08038856951
],
[
"QA",
-0.02880567578
],
[
"RO",
0.08937415317
],
[
"RU",
0.0284552125
],
[
"SG",
0.04013096146
],
[
"SI",
0.03905016573
],
[
"SK",
-0.02588195867
],
[
"TN",
-0.1398700556
],
[
"US",
0
] 
];
data.addColumn('string','country');
data.addColumn('number','PossessionsNonStudy');
data.addRows(datajson);
return(data);
}
 
// jsDrawChart
function drawChartGeoChartID1ddb2b15bcdd() {
var data = gvisDataGeoChartID1ddb2b15bcdd();
var options = {};
options["width"] = 556;
options["height"] = 347;


    var chart = new google.visualization.GeoChart(
    document.getElementById('GeoChartID1ddb2b15bcdd')
    );
    chart.draw(data,options);
    

}
  
 
// jsDisplayChart
(function() {
var pkgs = window.__gvisPackages = window.__gvisPackages || [];
var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
var chartid = "geochart";
  
// Manually see if chartid is in pkgs (not all browsers support Array.indexOf)
var i, newPackage = true;
for (i = 0; newPackage && i < pkgs.length; i++) {
if (pkgs[i] === chartid)
newPackage = false;
}
if (newPackage)
  pkgs.push(chartid);
  
// Add the drawChart function to the global list of callbacks
callbacks.push(drawChartGeoChartID1ddb2b15bcdd);
})();
function displayChartGeoChartID1ddb2b15bcdd() {
  var pkgs = window.__gvisPackages = window.__gvisPackages || [];
  var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
  window.clearTimeout(window.__gvisLoad);
  // The timeout is set to 100 because otherwise the container div we are
  // targeting might not be part of the document yet
  window.__gvisLoad = setTimeout(function() {
  var pkgCount = pkgs.length;
  google.load("visualization", "1", { packages:pkgs, callback: function() {
  if (pkgCount != pkgs.length) {
  // Race condition where another setTimeout call snuck in after us; if
  // that call added a package, we must not shift its callback
  return;
}
while (callbacks.length > 0)
callbacks.shift()();
} });
}, 100);
}
 
// jsFooter
</script>
 
<!-- jsChart -->  
<script type="text/javascript" src="https://www.google.com/jsapi?callback=displayChartGeoChartID1ddb2b15bcdd"></script>
 
<!-- divChart -->
  
<div id="GeoChartID1ddb2b15bcdd" 
  style="width: 556; height: 347;">
</div>
