<!-- GeoChart generated in R 3.3.2 by googleVis 0.6.1 package -->
<!-- Thu Dec 22 23:17:29 2016 -->


<!-- jsHeader -->
<script type="text/javascript">
 
// jsData 
function gvisDataGeoChartID1ddb4e6ccea1 () {
var data = new google.visualization.DataTable();
var datajson =
[
 [
"AE",
0.04077367924
],
[
"AL",
0.1255535426
],
[
"AT",
-0.08922145558
],
[
"AU",
-0.07350479838
],
[
"BE",
-0.03517051956
],
[
"BG",
0.03067623655
],
[
"BR",
-0.01870946617
],
[
"CA",
-0.08351789436
],
[
"CH",
-0.1781974164
],
[
"CL",
-0.0191677255
],
[
"CR",
-0.08089290852
],
[
"CZ",
-0.09743667154
],
[
"DE",
0.1796983793
],
[
"DK",
-0.01551266089
],
[
"EE",
-0.07266056406
],
[
"ES",
0.003688371478
],
[
"FI",
0.01414007277
],
[
"GB",
-0.03393907172
],
[
"GR",
-0.08360272103
],
[
"HK",
-0.07578435141
],
[
"HR",
0.01340977065
],
[
"HU",
0.04669082884
],
[
"IE",
0.001847299737
],
[
"IS",
-0.03219616289
],
[
"IT",
-0.03761171352
],
[
"KZ",
-0.006987729122
],
[
"LI",
0.3733012515
],
[
"LT",
-0.01304872423
],
[
"LU",
0.1362018657
],
[
"LV",
-0.06604328802
],
[
"MO",
-0.08815762457
],
[
"MY",
-0.04930111909
],
[
"NL",
-0.02685876477
],
[
"NO",
-0.02109981565
],
[
"NZ",
-0.04682263393
],
[
"PE",
-0.04270707297
],
[
"PL",
-0.04404262137
],
[
"PT",
-0.01765405064
],
[
"QA",
0.08535408232
],
[
"RO",
-0.05654426618
],
[
"RU",
-0.0754599366
],
[
"SG",
0.008534360164
],
[
"SI",
-0.03564996165
],
[
"SK",
-0.03842910309
],
[
"TN",
-0.06329757635
],
[
"US",
-0.08867527619
] 
];
data.addColumn('string','country');
data.addColumn('number','AtHomeBrothers');
data.addRows(datajson);
return(data);
}
 
// jsDrawChart
function drawChartGeoChartID1ddb4e6ccea1() {
var data = gvisDataGeoChartID1ddb4e6ccea1();
var options = {};
options["width"] = 556;
options["height"] = 347;


    var chart = new google.visualization.GeoChart(
    document.getElementById('GeoChartID1ddb4e6ccea1')
    );
    chart.draw(data,options);
    

}
  
 
// jsDisplayChart
(function() {
var pkgs = window.__gvisPackages = window.__gvisPackages || [];
var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
var chartid = "geochart";
  
// Manually see if chartid is in pkgs (not all browsers support Array.indexOf)
var i, newPackage = true;
for (i = 0; newPackage && i < pkgs.length; i++) {
if (pkgs[i] === chartid)
newPackage = false;
}
if (newPackage)
  pkgs.push(chartid);
  
// Add the drawChart function to the global list of callbacks
callbacks.push(drawChartGeoChartID1ddb4e6ccea1);
})();
function displayChartGeoChartID1ddb4e6ccea1() {
  var pkgs = window.__gvisPackages = window.__gvisPackages || [];
  var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
  window.clearTimeout(window.__gvisLoad);
  // The timeout is set to 100 because otherwise the container div we are
  // targeting might not be part of the document yet
  window.__gvisLoad = setTimeout(function() {
  var pkgCount = pkgs.length;
  google.load("visualization", "1", { packages:pkgs, callback: function() {
  if (pkgCount != pkgs.length) {
  // Race condition where another setTimeout call snuck in after us; if
  // that call added a package, we must not shift its callback
  return;
}
while (callbacks.length > 0)
callbacks.shift()();
} });
}, 100);
}
 
// jsFooter
</script>
 
<!-- jsChart -->  
<script type="text/javascript" src="https://www.google.com/jsapi?callback=displayChartGeoChartID1ddb4e6ccea1"></script>
 
<!-- divChart -->
  
<div id="GeoChartID1ddb4e6ccea1" 
  style="width: 556; height: 347;">
</div>
