<!-- GeoChart generated in R 3.3.2 by googleVis 0.6.1 package -->
<!-- Thu Dec 22 23:16:10 2016 -->


<!-- jsHeader -->
<script type="text/javascript">
 
// jsData 
function gvisDataGeoChartID1ddb394fff0b () {
var data = new google.visualization.DataTable();
var datajson =
[
 [
"AE",
0.02435416399
],
[
"AL",
0.01053970939
],
[
"AT",
0.1525753038
],
[
"AU",
0.2129281099
],
[
"BE",
0.2374349786
],
[
"BG",
0.0890028648
],
[
"BR",
0.1468473684
],
[
"CA",
0.2155864559
],
[
"CH",
0.222215869
],
[
"CL",
0.1024459309
],
[
"CR",
0.1635493266
],
[
"CZ",
0.1806141175
],
[
"DE",
0.3546335988
],
[
"DK",
0.1189522986
],
[
"EE",
0.1664943269
],
[
"ES",
0.1079164295
],
[
"FI",
0.0584031548
],
[
"GB",
0.2034755979
],
[
"GR",
0.1522889788
],
[
"HK",
0.0987429506
],
[
"HR",
0.1915981043
],
[
"HU",
0.09320377119
],
[
"IE",
0.1006904963
],
[
"IS",
-0.02179520745
],
[
"IT",
0.2064445431
],
[
"KZ",
0.02643811945
],
[
"LI",
0.4242424935
],
[
"LT",
0.1667143573
],
[
"LU",
0.1861839247
],
[
"LV",
0.02454760233
],
[
"MO",
0.2079731293
],
[
"MY",
0.08491282854
],
[
"NL",
0.1534723683
],
[
"NO",
0.1378987215
],
[
"NZ",
0.09117053984
],
[
"PE",
0.1370648573
],
[
"PL",
0.03915760579
],
[
"PT",
0.1688581212
],
[
"QA",
0.1146985873
],
[
"RO",
-0.02221455992
],
[
"RU",
0.03358168715
],
[
"SG",
0.0927955805
],
[
"SI",
0.2810157363
],
[
"SK",
0.1019970356
],
[
"TN",
0.07970772503
],
[
"US",
0.1712303349
] 
];
data.addColumn('string','country');
data.addColumn('number','Gender');
data.addRows(datajson);
return(data);
}
 
// jsDrawChart
function drawChartGeoChartID1ddb394fff0b() {
var data = gvisDataGeoChartID1ddb394fff0b();
var options = {};
options["width"] = 556;
options["height"] = 347;


    var chart = new google.visualization.GeoChart(
    document.getElementById('GeoChartID1ddb394fff0b')
    );
    chart.draw(data,options);
    

}
  
 
// jsDisplayChart
(function() {
var pkgs = window.__gvisPackages = window.__gvisPackages || [];
var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
var chartid = "geochart";
  
// Manually see if chartid is in pkgs (not all browsers support Array.indexOf)
var i, newPackage = true;
for (i = 0; newPackage && i < pkgs.length; i++) {
if (pkgs[i] === chartid)
newPackage = false;
}
if (newPackage)
  pkgs.push(chartid);
  
// Add the drawChart function to the global list of callbacks
callbacks.push(drawChartGeoChartID1ddb394fff0b);
})();
function displayChartGeoChartID1ddb394fff0b() {
  var pkgs = window.__gvisPackages = window.__gvisPackages || [];
  var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
  window.clearTimeout(window.__gvisLoad);
  // The timeout is set to 100 because otherwise the container div we are
  // targeting might not be part of the document yet
  window.__gvisLoad = setTimeout(function() {
  var pkgCount = pkgs.length;
  google.load("visualization", "1", { packages:pkgs, callback: function() {
  if (pkgCount != pkgs.length) {
  // Race condition where another setTimeout call snuck in after us; if
  // that call added a package, we must not shift its callback
  return;
}
while (callbacks.length > 0)
callbacks.shift()();
} });
}, 100);
}
 
// jsFooter
</script>
 
<!-- jsChart -->  
<script type="text/javascript" src="https://www.google.com/jsapi?callback=displayChartGeoChartID1ddb394fff0b"></script>
 
<!-- divChart -->
  
<div id="GeoChartID1ddb394fff0b" 
  style="width: 556; height: 347;">
</div>
