<!-- GeoChart generated in R 3.3.2 by googleVis 0.6.1 package -->
<!-- Thu Dec 22 23:17:20 2016 -->


<!-- jsHeader -->
<script type="text/javascript">
 
// jsData 
function gvisDataGeoChartID1ddb7ae08851 () {
var data = new google.visualization.DataTable();
var datajson =
[
 [
"AE",
-0.01249525359
],
[
"AL",
0.06992072457
],
[
"AT",
0.08943562714
],
[
"AU",
0.1142863287
],
[
"BE",
0.2102828941
],
[
"BG",
0.1132051876
],
[
"BR",
0
],
[
"CA",
0.06402658453
],
[
"CH",
0.1095517703
],
[
"CL",
-0.08632842461
],
[
"CR",
0.0463685961
],
[
"CZ",
0.04143410098
],
[
"DE",
0.009728371934
],
[
"DK",
0.08515111984
],
[
"EE",
-0.01794841903
],
[
"ES",
0.01484976297
],
[
"FI",
0.1409764722
],
[
"GB",
0.2344375378
],
[
"GR",
0.1473367078
],
[
"HK",
0.1290163058
],
[
"HR",
0.08733528281
],
[
"HU",
-0.05686096144
],
[
"IE",
0.223143599
],
[
"IS",
0.02087852525
],
[
"IT",
0.08299762604
],
[
"KZ",
-0.02579729974
],
[
"LI",
0.3906684058
],
[
"LT",
0.07071589718
],
[
"LU",
0.2068042281
],
[
"LV",
0.1790479391
],
[
"MO",
0.06248278876
],
[
"MY",
0.2856962933
],
[
"NL",
0.05297227502
],
[
"NO",
0.05016762398
],
[
"NZ",
-0.02021576813
],
[
"PE",
0.1590714783
],
[
"PL",
0.2349755932
],
[
"PT",
0.1776772569
],
[
"QA",
0.3342030956
],
[
"RO",
0.07375364267
],
[
"RU",
0.01713514975
],
[
"SG",
-0.02506453285
],
[
"SI",
0.04519953416
],
[
"SK",
0.1028214948
],
[
"TN",
0.04517945114
],
[
"US",
0.05123640774
] 
];
data.addColumn('string','country');
data.addColumn('number','PossessionsStudyTextbooks');
data.addRows(datajson);
return(data);
}
 
// jsDrawChart
function drawChartGeoChartID1ddb7ae08851() {
var data = gvisDataGeoChartID1ddb7ae08851();
var options = {};
options["width"] = 556;
options["height"] = 347;


    var chart = new google.visualization.GeoChart(
    document.getElementById('GeoChartID1ddb7ae08851')
    );
    chart.draw(data,options);
    

}
  
 
// jsDisplayChart
(function() {
var pkgs = window.__gvisPackages = window.__gvisPackages || [];
var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
var chartid = "geochart";
  
// Manually see if chartid is in pkgs (not all browsers support Array.indexOf)
var i, newPackage = true;
for (i = 0; newPackage && i < pkgs.length; i++) {
if (pkgs[i] === chartid)
newPackage = false;
}
if (newPackage)
  pkgs.push(chartid);
  
// Add the drawChart function to the global list of callbacks
callbacks.push(drawChartGeoChartID1ddb7ae08851);
})();
function displayChartGeoChartID1ddb7ae08851() {
  var pkgs = window.__gvisPackages = window.__gvisPackages || [];
  var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
  window.clearTimeout(window.__gvisLoad);
  // The timeout is set to 100 because otherwise the container div we are
  // targeting might not be part of the document yet
  window.__gvisLoad = setTimeout(function() {
  var pkgCount = pkgs.length;
  google.load("visualization", "1", { packages:pkgs, callback: function() {
  if (pkgCount != pkgs.length) {
  // Race condition where another setTimeout call snuck in after us; if
  // that call added a package, we must not shift its callback
  return;
}
while (callbacks.length > 0)
callbacks.shift()();
} });
}, 100);
}
 
// jsFooter
</script>
 
<!-- jsChart -->  
<script type="text/javascript" src="https://www.google.com/jsapi?callback=displayChartGeoChartID1ddb7ae08851"></script>
 
<!-- divChart -->
  
<div id="GeoChartID1ddb7ae08851" 
  style="width: 556; height: 347;">
</div>
