<!-- Table generated in R 3.3.2 by googleVis 0.6.1 package -->
<!-- Thu Dec 22 19:38:01 2016 -->


<!-- jsHeader -->
<script type="text/javascript">
 
// jsData 
function gvisDataTableID7d716682173f () {
var data = new google.visualization.DataTable();
var datajson =
[
 [
"AE",
"Gender",
0.02435416399
],
[
"AL",
"Gender",
0.01053970939
],
[
"AT",
"Gender",
0.1525753038
],
[
"AU",
"Gender",
0.2129281099
],
[
"BE",
"Gender",
0.2374349786
],
[
"BG",
"Gender",
0.0890028648
],
[
"BR",
"Gender",
0.1468473684
],
[
"CA",
"Gender",
0.2155864559
],
[
"CH",
"Gender",
0.222215869
],
[
"CL",
"Gender",
0.1024459309
],
[
"CR",
"Gender",
0.1635493266
],
[
"CZ",
"Gender",
0.1806141175
],
[
"DE",
"Gender",
0.3546335988
],
[
"DK",
"Gender",
0.1189522986
],
[
"EE",
"Gender",
0.1664943269
],
[
"ES",
"Gender",
0.1079164295
],
[
"FI",
"Gender",
0.0584031548
],
[
"GB",
"Gender",
0.2034755979
],
[
"GR",
"Gender",
0.1522889788
],
[
"HK",
"Gender",
0.0987429506
],
[
"HR",
"Gender",
0.1915981043
],
[
"HU",
"Gender",
0.09320377119
],
[
"IE",
"Gender",
0.1006904963
],
[
"IS",
"Gender",
-0.02179520745
],
[
"IT",
"Gender",
0.2064445431
],
[
"KZ",
"Gender",
0.02643811945
],
[
"LI",
"Gender",
0.4242424935
],
[
"LT",
"Gender",
0.1667143573
],
[
"LU",
"Gender",
0.1861839247
],
[
"LV",
"Gender",
0.02454760233
],
[
"MO",
"Gender",
0.2079731293
],
[
"MY",
"Gender",
0.08491282854
],
[
"NL",
"Gender",
0.1534723683
],
[
"NO",
"Gender",
0.1378987215
],
[
"NZ",
"Gender",
0.09117053984
],
[
"PE",
"Gender",
0.1370648573
],
[
"PL",
"Gender",
0.03915760579
],
[
"PT",
"Gender",
0.1688581212
],
[
"QA",
"Gender",
0.1146985873
],
[
"RO",
"Gender",
-0.02221455992
],
[
"RU",
"Gender",
0.03358168715
],
[
"SG",
"Gender",
0.0927955805
],
[
"SI",
"Gender",
0.2810157363
],
[
"SK",
"Gender",
0.1019970356
],
[
"TN",
"Gender",
0.07970772503
],
[
"US",
"Gender",
0.1712303349
],
[
"AE",
"PossessionsStudyDesk",
-0.05753503858
],
[
"AL",
"PossessionsStudyDesk",
0.1180182433
],
[
"AT",
"PossessionsStudyDesk",
0.1066765019
],
[
"AU",
"PossessionsStudyDesk",
0.1646901333
],
[
"BE",
"PossessionsStudyDesk",
0.2655141861
],
[
"BG",
"PossessionsStudyDesk",
-0.1099080646
],
[
"BR",
"PossessionsStudyDesk",
0.06718372466
],
[
"CA",
"PossessionsStudyDesk",
0.1314839132
],
[
"CH",
"PossessionsStudyDesk",
-0.003360515327
],
[
"CL",
"PossessionsStudyDesk",
0.07080966539
],
[
"CR",
"PossessionsStudyDesk",
0.1035177748
],
[
"CZ",
"PossessionsStudyDesk",
-0.02198379865
],
[
"DE",
"PossessionsStudyDesk",
0.4983092732
],
[
"DK",
"PossessionsStudyDesk",
0.08803902131
],
[
"EE",
"PossessionsStudyDesk",
-0.02807798772
],
[
"ES",
"PossessionsStudyDesk",
0.03426834761
],
[
"FI",
"PossessionsStudyDesk",
-0.03493747475
],
[
"GB",
"PossessionsStudyDesk",
0.03504795434
],
[
"GR",
"PossessionsStudyDesk",
-0.05745981884
],
[
"HK",
"PossessionsStudyDesk",
0.09994032813
],
[
"HR",
"PossessionsStudyDesk",
-0.1898930705
],
[
"HU",
"PossessionsStudyDesk",
0.04249938982
],
[
"IE",
"PossessionsStudyDesk",
0
],
[
"IS",
"PossessionsStudyDesk",
0.04229501713
],
[
"IT",
"PossessionsStudyDesk",
-0.006155823672
],
[
"KZ",
"PossessionsStudyDesk",
0.1154830249
],
[
"LI",
"PossessionsStudyDesk",
0
],
[
"LT",
"PossessionsStudyDesk",
1.193171405
],
[
"LU",
"PossessionsStudyDesk",
-0.3171382847
],
[
"LV",
"PossessionsStudyDesk",
0.1444675468
],
[
"MO",
"PossessionsStudyDesk",
0.04988012321
],
[
"MY",
"PossessionsStudyDesk",
0.08222084555
],
[
"NL",
"PossessionsStudyDesk",
0.2673217429
],
[
"NO",
"PossessionsStudyDesk",
-0.2066152475
],
[
"NZ",
"PossessionsStudyDesk",
0.1768675671
],
[
"PE",
"PossessionsStudyDesk",
-0.05009552769
],
[
"PL",
"PossessionsStudyDesk",
0.1007209166
],
[
"PT",
"PossessionsStudyDesk",
0.1776290722
],
[
"QA",
"PossessionsStudyDesk",
-0.128257218
],
[
"RO",
"PossessionsStudyDesk",
-0.1042108359
],
[
"RU",
"PossessionsStudyDesk",
0.08624534662
],
[
"SG",
"PossessionsStudyDesk",
-0.03378662141
],
[
"SI",
"PossessionsStudyDesk",
0.2527059964
],
[
"SK",
"PossessionsStudyDesk",
0.2503876853
],
[
"TN",
"PossessionsStudyDesk",
-0.03932795651
],
[
"US",
"PossessionsStudyDesk",
0.08853005852
],
[
"AE",
"PossessionsStudyOwnRoom",
-0.005051844373
],
[
"AL",
"PossessionsStudyOwnRoom",
-0.01691839383
],
[
"AT",
"PossessionsStudyOwnRoom",
-0.04913139661
],
[
"AU",
"PossessionsStudyOwnRoom",
0.191357233
],
[
"BE",
"PossessionsStudyOwnRoom",
-0.004549101863
],
[
"BG",
"PossessionsStudyOwnRoom",
-0.1609595562
],
[
"BR",
"PossessionsStudyOwnRoom",
-0.03991745173
],
[
"CA",
"PossessionsStudyOwnRoom",
-0.07904423951
],
[
"CH",
"PossessionsStudyOwnRoom",
-0.00619448432
],
[
"CL",
"PossessionsStudyOwnRoom",
0.1067690332
],
[
"CR",
"PossessionsStudyOwnRoom",
-0.07607279425
],
[
"CZ",
"PossessionsStudyOwnRoom",
0.001019466609
],
[
"DE",
"PossessionsStudyOwnRoom",
-0.2397152576
],
[
"DK",
"PossessionsStudyOwnRoom",
-0.1382377446
],
[
"EE",
"PossessionsStudyOwnRoom",
-0.02203392899
],
[
"ES",
"PossessionsStudyOwnRoom",
-0.07893518123
],
[
"FI",
"PossessionsStudyOwnRoom",
-0.1011160025
],
[
"GB",
"PossessionsStudyOwnRoom",
-0.05852428553
],
[
"GR",
"PossessionsStudyOwnRoom",
-0.02014886117
],
[
"HK",
"PossessionsStudyOwnRoom",
-0.01973594999
],
[
"HR",
"PossessionsStudyOwnRoom",
0.1453372946
],
[
"HU",
"PossessionsStudyOwnRoom",
0.0476326034
],
[
"IE",
"PossessionsStudyOwnRoom",
-0.1148502985
],
[
"IS",
"PossessionsStudyOwnRoom",
-0.1354367001
],
[
"IT",
"PossessionsStudyOwnRoom",
0.01748792579
],
[
"KZ",
"PossessionsStudyOwnRoom",
-0.03533633588
],
[
"LI",
"PossessionsStudyOwnRoom",
0
],
[
"LT",
"PossessionsStudyOwnRoom",
0.1050693715
],
[
"LU",
"PossessionsStudyOwnRoom",
0.1757808324
],
[
"LV",
"PossessionsStudyOwnRoom",
-0.09865093869
],
[
"MO",
"PossessionsStudyOwnRoom",
0.03038807202
],
[
"MY",
"PossessionsStudyOwnRoom",
-0.05730804493
],
[
"NL",
"PossessionsStudyOwnRoom",
0.2243464744
],
[
"NO",
"PossessionsStudyOwnRoom",
-0.1182936362
],
[
"NZ",
"PossessionsStudyOwnRoom",
0
],
[
"PE",
"PossessionsStudyOwnRoom",
0.1573006031
],
[
"PL",
"PossessionsStudyOwnRoom",
0.04961913077
],
[
"PT",
"PossessionsStudyOwnRoom",
0.09679139026
],
[
"QA",
"PossessionsStudyOwnRoom",
0.1437190337
],
[
"RO",
"PossessionsStudyOwnRoom",
0.08433072153
],
[
"RU",
"PossessionsStudyOwnRoom",
-0.06591682197
],
[
"SG",
"PossessionsStudyOwnRoom",
0.01337978904
],
[
"SI",
"PossessionsStudyOwnRoom",
0.004892947227
],
[
"SK",
"PossessionsStudyOwnRoom",
-0.2441484962
],
[
"TN",
"PossessionsStudyOwnRoom",
0.04393395941
],
[
"US",
"PossessionsStudyOwnRoom",
-0.03669442693
],
[
"AE",
"PossessionsStudyStudyPlace",
0.003424134482
],
[
"AL",
"PossessionsStudyStudyPlace",
0.1277493168
],
[
"AT",
"PossessionsStudyStudyPlace",
0.05362062132
],
[
"AU",
"PossessionsStudyStudyPlace",
0.1293489702
],
[
"BE",
"PossessionsStudyStudyPlace",
-0.1117924099
],
[
"BG",
"PossessionsStudyStudyPlace",
-0.008864853274
],
[
"BR",
"PossessionsStudyStudyPlace",
0.09628666225
],
[
"CA",
"PossessionsStudyStudyPlace",
0.1763884328
],
[
"CH",
"PossessionsStudyStudyPlace",
0.1814296111
],
[
"CL",
"PossessionsStudyStudyPlace",
0.01826665794
],
[
"CR",
"PossessionsStudyStudyPlace",
0.04243867498
],
[
"CZ",
"PossessionsStudyStudyPlace",
-0.02247047259
],
[
"DE",
"PossessionsStudyStudyPlace",
-0.1151844128
],
[
"DK",
"PossessionsStudyStudyPlace",
-0.01884471492
],
[
"EE",
"PossessionsStudyStudyPlace",
0.2113500418
],
[
"ES",
"PossessionsStudyStudyPlace",
0.1266346685
],
[
"FI",
"PossessionsStudyStudyPlace",
0.1922163249
],
[
"GB",
"PossessionsStudyStudyPlace",
0.08511210079
],
[
"GR",
"PossessionsStudyStudyPlace",
0.1872762403
],
[
"HK",
"PossessionsStudyStudyPlace",
0.03532440511
],
[
"HR",
"PossessionsStudyStudyPlace",
0.3261605304
],
[
"HU",
"PossessionsStudyStudyPlace",
0.1106936568
],
[
"IE",
"PossessionsStudyStudyPlace",
-0.1383486008
],
[
"IS",
"PossessionsStudyStudyPlace",
0.05697215267
],
[
"IT",
"PossessionsStudyStudyPlace",
0.0691410096
],
[
"KZ",
"PossessionsStudyStudyPlace",
0.03177786353
],
[
"LI",
"PossessionsStudyStudyPlace",
0
],
[
"LT",
"PossessionsStudyStudyPlace",
0.09867804336
],
[
"LU",
"PossessionsStudyStudyPlace",
0.0820708379
],
[
"LV",
"PossessionsStudyStudyPlace",
0.2644290781
],
[
"MO",
"PossessionsStudyStudyPlace",
0.01961762054
],
[
"MY",
"PossessionsStudyStudyPlace",
0.05801753071
],
[
"NL",
"PossessionsStudyStudyPlace",
0.04851112895
],
[
"NO",
"PossessionsStudyStudyPlace",
0.08349237798
],
[
"NZ",
"PossessionsStudyStudyPlace",
0.0640499108
],
[
"PE",
"PossessionsStudyStudyPlace",
0.1480531599
],
[
"PL",
"PossessionsStudyStudyPlace",
-0.01606324527
],
[
"PT",
"PossessionsStudyStudyPlace",
-0.09219345985
],
[
"QA",
"PossessionsStudyStudyPlace",
-0.02802042183
],
[
"RO",
"PossessionsStudyStudyPlace",
0.1178212749
],
[
"RU",
"PossessionsStudyStudyPlace",
0.02805377541
],
[
"SG",
"PossessionsStudyStudyPlace",
-0.002510194597
],
[
"SI",
"PossessionsStudyStudyPlace",
0.2351717919
],
[
"SK",
"PossessionsStudyStudyPlace",
0.194813982
],
[
"TN",
"PossessionsStudyStudyPlace",
0.03922568168
],
[
"US",
"PossessionsStudyStudyPlace",
0.2147323327
],
[
"AE",
"PossessionsStudyComputer",
0
],
[
"AL",
"PossessionsStudyComputer",
0
],
[
"AT",
"PossessionsStudyComputer",
0.1891059197
],
[
"AU",
"PossessionsStudyComputer",
-0.01874872869
],
[
"BE",
"PossessionsStudyComputer",
0.7174852367
],
[
"BG",
"PossessionsStudyComputer",
0.07531258952
],
[
"BR",
"PossessionsStudyComputer",
-0.05188085389
],
[
"CA",
"PossessionsStudyComputer",
0.1698458438
],
[
"CH",
"PossessionsStudyComputer",
-0.04731666506
],
[
"CL",
"PossessionsStudyComputer",
-0.1042592296
],
[
"CR",
"PossessionsStudyComputer",
0.4387268702
],
[
"CZ",
"PossessionsStudyComputer",
-0.07376952595
],
[
"DE",
"PossessionsStudyComputer",
-0.9336587934
],
[
"DK",
"PossessionsStudyComputer",
0.4839645849
],
[
"EE",
"PossessionsStudyComputer",
0.02808897812
],
[
"ES",
"PossessionsStudyComputer",
0.06179634486
],
[
"FI",
"PossessionsStudyComputer",
-0.044359221
],
[
"GB",
"PossessionsStudyComputer",
-0.008401466263
],
[
"GR",
"PossessionsStudyComputer",
0.09446274364
],
[
"HK",
"PossessionsStudyComputer",
0.07881210803
],
[
"HR",
"PossessionsStudyComputer",
0.04648281509
],
[
"HU",
"PossessionsStudyComputer",
-0.02727332454
],
[
"IE",
"PossessionsStudyComputer",
0.03744919538
],
[
"IS",
"PossessionsStudyComputer",
-0.2363061285
],
[
"IT",
"PossessionsStudyComputer",
0.1612568387
],
[
"KZ",
"PossessionsStudyComputer",
0.04687549298
],
[
"LI",
"PossessionsStudyComputer",
0
],
[
"LT",
"PossessionsStudyComputer",
0.02532472888
],
[
"LU",
"PossessionsStudyComputer",
0.5573089894
],
[
"LV",
"PossessionsStudyComputer",
-0.1634345959
],
[
"MO",
"PossessionsStudyComputer",
0.285675373
],
[
"MY",
"PossessionsStudyComputer",
0
],
[
"NL",
"PossessionsStudyComputer",
-0.3347792032
],
[
"NO",
"PossessionsStudyComputer",
1.526381826
],
[
"NZ",
"PossessionsStudyComputer",
-0.1331081554
],
[
"PE",
"PossessionsStudyComputer",
-0.07758236185
],
[
"PL",
"PossessionsStudyComputer",
-0.1622365091
],
[
"PT",
"PossessionsStudyComputer",
0.7593361043
],
[
"QA",
"PossessionsStudyComputer",
0.2458703554
],
[
"RO",
"PossessionsStudyComputer",
0.09331211907
],
[
"RU",
"PossessionsStudyComputer",
0.006870634381
],
[
"SG",
"PossessionsStudyComputer",
-0.009729954825
],
[
"SI",
"PossessionsStudyComputer",
-0.1202573806
],
[
"SK",
"PossessionsStudyComputer",
-0.3176131795
],
[
"TN",
"PossessionsStudyComputer",
0.07319550373
],
[
"US",
"PossessionsStudyComputer",
0.1164899959
],
[
"AE",
"PossessionsStudySoftware",
0.003906873181
],
[
"AL",
"PossessionsStudySoftware",
-0.008043659791
],
[
"AT",
"PossessionsStudySoftware",
-0.007865434739
],
[
"AU",
"PossessionsStudySoftware",
0.0582396542
],
[
"BE",
"PossessionsStudySoftware",
0.07677099102
],
[
"BG",
"PossessionsStudySoftware",
0.1208782077
],
[
"BR",
"PossessionsStudySoftware",
0.02946448754
],
[
"CA",
"PossessionsStudySoftware",
0.02851925969
],
[
"CH",
"PossessionsStudySoftware",
0.04934805336
],
[
"CL",
"PossessionsStudySoftware",
0.1035107051
],
[
"CR",
"PossessionsStudySoftware",
-0.1070235119
],
[
"CZ",
"PossessionsStudySoftware",
0.1118671437
],
[
"DE",
"PossessionsStudySoftware",
0.09727276992
],
[
"DK",
"PossessionsStudySoftware",
0.2061806558
],
[
"EE",
"PossessionsStudySoftware",
0.08080368453
],
[
"ES",
"PossessionsStudySoftware",
0.07533651337
],
[
"FI",
"PossessionsStudySoftware",
0.1184360643
],
[
"GB",
"PossessionsStudySoftware",
0.08201423913
],
[
"GR",
"PossessionsStudySoftware",
0.01058326239
],
[
"HK",
"PossessionsStudySoftware",
-0.002678229292
],
[
"HR",
"PossessionsStudySoftware",
-0.03444633781
],
[
"HU",
"PossessionsStudySoftware",
0.06452239854
],
[
"IE",
"PossessionsStudySoftware",
-0.04296557667
],
[
"IS",
"PossessionsStudySoftware",
0.1463204881
],
[
"IT",
"PossessionsStudySoftware",
0.05117180932
],
[
"KZ",
"PossessionsStudySoftware",
0.05344984974
],
[
"LI",
"PossessionsStudySoftware",
0.2052652424
],
[
"LT",
"PossessionsStudySoftware",
-0.004195450025
],
[
"LU",
"PossessionsStudySoftware",
0.1467134937
],
[
"LV",
"PossessionsStudySoftware",
0.1167093325
],
[
"MO",
"PossessionsStudySoftware",
0.07294410673
],
[
"MY",
"PossessionsStudySoftware",
0.07787114294
],
[
"NL",
"PossessionsStudySoftware",
0.04038657018
],
[
"NO",
"PossessionsStudySoftware",
0.01302531055
],
[
"NZ",
"PossessionsStudySoftware",
0.05495119466
],
[
"PE",
"PossessionsStudySoftware",
-0.02051426634
],
[
"PL",
"PossessionsStudySoftware",
0.03616032886
],
[
"PT",
"PossessionsStudySoftware",
-0.01691300158
],
[
"QA",
"PossessionsStudySoftware",
-0.02534768298
],
[
"RO",
"PossessionsStudySoftware",
-0.07402093202
],
[
"RU",
"PossessionsStudySoftware",
0.05925232074
],
[
"SG",
"PossessionsStudySoftware",
0.1272944005
],
[
"SI",
"PossessionsStudySoftware",
0.02689236408
],
[
"SK",
"PossessionsStudySoftware",
0.08350976039
],
[
"TN",
"PossessionsStudySoftware",
0.08069988896
],
[
"US",
"PossessionsStudySoftware",
0.08852072468
],
[
"AE",
"PossessionsStudyInternet",
0.1095970515
],
[
"AL",
"PossessionsStudyInternet",
-0.03744579158
],
[
"AT",
"PossessionsStudyInternet",
0.04202243836
],
[
"AU",
"PossessionsStudyInternet",
-0.08091146082
],
[
"BE",
"PossessionsStudyInternet",
-0.4676284898
],
[
"BG",
"PossessionsStudyInternet",
-0.1042393314
],
[
"BR",
"PossessionsStudyInternet",
0.02100271937
],
[
"CA",
"PossessionsStudyInternet",
-0.1818833286
],
[
"CH",
"PossessionsStudyInternet",
-0.01318083548
],
[
"CL",
"PossessionsStudyInternet",
0.0220133134
],
[
"CR",
"PossessionsStudyInternet",
-0.1998446322
],
[
"CZ",
"PossessionsStudyInternet",
0.01430586387
],
[
"DE",
"PossessionsStudyInternet",
-0.6375252777
],
[
"DK",
"PossessionsStudyInternet",
-0.09203521732
],
[
"EE",
"PossessionsStudyInternet",
0.00544422054
],
[
"ES",
"PossessionsStudyInternet",
-0.6638029967
],
[
"FI",
"PossessionsStudyInternet",
0.3995462201
],
[
"GB",
"PossessionsStudyInternet",
0.1936955115
],
[
"GR",
"PossessionsStudyInternet",
0.1563516708
],
[
"HK",
"PossessionsStudyInternet",
-1.246241848
],
[
"HR",
"PossessionsStudyInternet",
-0.1401683676
],
[
"HU",
"PossessionsStudyInternet",
0.07435308509
],
[
"IE",
"PossessionsStudyInternet",
0.1624519733
],
[
"IS",
"PossessionsStudyInternet",
0
],
[
"IT",
"PossessionsStudyInternet",
-0.02534802925
],
[
"KZ",
"PossessionsStudyInternet",
0.03686021647
],
[
"LI",
"PossessionsStudyInternet",
0
],
[
"LT",
"PossessionsStudyInternet",
0.3129655463
],
[
"LU",
"PossessionsStudyInternet",
-0.1804029853
],
[
"LV",
"PossessionsStudyInternet",
-0.05008329968
],
[
"MO",
"PossessionsStudyInternet",
0
],
[
"MY",
"PossessionsStudyInternet",
-0.01391729393
],
[
"NL",
"PossessionsStudyInternet",
0.2732408324
],
[
"NO",
"PossessionsStudyInternet",
0.6020119114
],
[
"NZ",
"PossessionsStudyInternet",
0.3403725442
],
[
"PE",
"PossessionsStudyInternet",
0.1351512092
],
[
"PL",
"PossessionsStudyInternet",
-0.04631251192
],
[
"PT",
"PossessionsStudyInternet",
0.1958118036
],
[
"QA",
"PossessionsStudyInternet",
0.4023406124
],
[
"RO",
"PossessionsStudyInternet",
-0.01517123754
],
[
"RU",
"PossessionsStudyInternet",
-0.113082175
],
[
"SG",
"PossessionsStudyInternet",
0.6598081506
],
[
"SI",
"PossessionsStudyInternet",
-0.01964909042
],
[
"SK",
"PossessionsStudyInternet",
0.03595078626
],
[
"TN",
"PossessionsStudyInternet",
0.009192102911
],
[
"US",
"PossessionsStudyInternet",
0.0778801598
],
[
"AE",
"PossessionsStudyTextbooks",
-0.01249525359
],
[
"AL",
"PossessionsStudyTextbooks",
0.06992072457
],
[
"AT",
"PossessionsStudyTextbooks",
0.08943562714
],
[
"AU",
"PossessionsStudyTextbooks",
0.1142863287
],
[
"BE",
"PossessionsStudyTextbooks",
0.2102828941
],
[
"BG",
"PossessionsStudyTextbooks",
0.1132051876
],
[
"BR",
"PossessionsStudyTextbooks",
0
],
[
"CA",
"PossessionsStudyTextbooks",
0.06402658453
],
[
"CH",
"PossessionsStudyTextbooks",
0.1095517703
],
[
"CL",
"PossessionsStudyTextbooks",
-0.08632842461
],
[
"CR",
"PossessionsStudyTextbooks",
0.0463685961
],
[
"CZ",
"PossessionsStudyTextbooks",
0.04143410098
],
[
"DE",
"PossessionsStudyTextbooks",
0.009728371934
],
[
"DK",
"PossessionsStudyTextbooks",
0.08515111984
],
[
"EE",
"PossessionsStudyTextbooks",
-0.01794841903
],
[
"ES",
"PossessionsStudyTextbooks",
0.01484976297
],
[
"FI",
"PossessionsStudyTextbooks",
0.1409764722
],
[
"GB",
"PossessionsStudyTextbooks",
0.2344375378
],
[
"GR",
"PossessionsStudyTextbooks",
0.1473367078
],
[
"HK",
"PossessionsStudyTextbooks",
0.1290163058
],
[
"HR",
"PossessionsStudyTextbooks",
0.08733528281
],
[
"HU",
"PossessionsStudyTextbooks",
-0.05686096144
],
[
"IE",
"PossessionsStudyTextbooks",
0.223143599
],
[
"IS",
"PossessionsStudyTextbooks",
0.02087852525
],
[
"IT",
"PossessionsStudyTextbooks",
0.08299762604
],
[
"KZ",
"PossessionsStudyTextbooks",
-0.02579729974
],
[
"LI",
"PossessionsStudyTextbooks",
0.3906684058
],
[
"LT",
"PossessionsStudyTextbooks",
0.07071589718
],
[
"LU",
"PossessionsStudyTextbooks",
0.2068042281
],
[
"LV",
"PossessionsStudyTextbooks",
0.1790479391
],
[
"MO",
"PossessionsStudyTextbooks",
0.06248278876
],
[
"MY",
"PossessionsStudyTextbooks",
0.2856962933
],
[
"NL",
"PossessionsStudyTextbooks",
0.05297227502
],
[
"NO",
"PossessionsStudyTextbooks",
0.05016762398
],
[
"NZ",
"PossessionsStudyTextbooks",
-0.02021576813
],
[
"PE",
"PossessionsStudyTextbooks",
0.1590714783
],
[
"PL",
"PossessionsStudyTextbooks",
0.2349755932
],
[
"PT",
"PossessionsStudyTextbooks",
0.1776772569
],
[
"QA",
"PossessionsStudyTextbooks",
0.3342030956
],
[
"RO",
"PossessionsStudyTextbooks",
0.07375364267
],
[
"RU",
"PossessionsStudyTextbooks",
0.01713514975
],
[
"SG",
"PossessionsStudyTextbooks",
-0.02506453285
],
[
"SI",
"PossessionsStudyTextbooks",
0.04519953416
],
[
"SK",
"PossessionsStudyTextbooks",
0.1028214948
],
[
"TN",
"PossessionsStudyTextbooks",
0.04517945114
],
[
"US",
"PossessionsStudyTextbooks",
0.05123640774
],
[
"AE",
"PossessionsStudyTechnicalBooks",
-0.05418360293
],
[
"AL",
"PossessionsStudyTechnicalBooks",
-0.01913358676
],
[
"AT",
"PossessionsStudyTechnicalBooks",
-0.004160558502
],
[
"AU",
"PossessionsStudyTechnicalBooks",
0.006978248187
],
[
"BE",
"PossessionsStudyTechnicalBooks",
0.002188183456
],
[
"BG",
"PossessionsStudyTechnicalBooks",
0.01025193941
],
[
"BR",
"PossessionsStudyTechnicalBooks",
0.002569856212
],
[
"CA",
"PossessionsStudyTechnicalBooks",
0
],
[
"CH",
"PossessionsStudyTechnicalBooks",
0.002707497261
],
[
"CL",
"PossessionsStudyTechnicalBooks",
0.002920061865
],
[
"CR",
"PossessionsStudyTechnicalBooks",
-0.0113366191
],
[
"CZ",
"PossessionsStudyTechnicalBooks",
0.03209878455
],
[
"DE",
"PossessionsStudyTechnicalBooks",
0.1586570913
],
[
"DK",
"PossessionsStudyTechnicalBooks",
-0.02510447898
],
[
"EE",
"PossessionsStudyTechnicalBooks",
0.04155530558
],
[
"ES",
"PossessionsStudyTechnicalBooks",
-0.1417298248
],
[
"FI",
"PossessionsStudyTechnicalBooks",
0.0278942756
],
[
"GB",
"PossessionsStudyTechnicalBooks",
-0.06995583092
],
[
"GR",
"PossessionsStudyTechnicalBooks",
0.00630607389
],
[
"HK",
"PossessionsStudyTechnicalBooks",
-0.08015157728
],
[
"HR",
"PossessionsStudyTechnicalBooks",
-0.04456728275
],
[
"HU",
"PossessionsStudyTechnicalBooks",
-0.002552783212
],
[
"IE",
"PossessionsStudyTechnicalBooks",
0.07486211437
],
[
"IS",
"PossessionsStudyTechnicalBooks",
0.04543776535
],
[
"IT",
"PossessionsStudyTechnicalBooks",
-0.002926761651
],
[
"KZ",
"PossessionsStudyTechnicalBooks",
0.02134089839
],
[
"LI",
"PossessionsStudyTechnicalBooks",
0.1863113499
],
[
"LT",
"PossessionsStudyTechnicalBooks",
-0.01432530541
],
[
"LU",
"PossessionsStudyTechnicalBooks",
0.1042179197
],
[
"LV",
"PossessionsStudyTechnicalBooks",
0.05749546848
],
[
"MO",
"PossessionsStudyTechnicalBooks",
0.02568944927
],
[
"MY",
"PossessionsStudyTechnicalBooks",
0.05274919293
],
[
"NL",
"PossessionsStudyTechnicalBooks",
-0.2314615785
],
[
"NO",
"PossessionsStudyTechnicalBooks",
0.07771795898
],
[
"NZ",
"PossessionsStudyTechnicalBooks",
0.06023835729
],
[
"PE",
"PossessionsStudyTechnicalBooks",
0.03567225365
],
[
"PL",
"PossessionsStudyTechnicalBooks",
0
],
[
"PT",
"PossessionsStudyTechnicalBooks",
0.008802663046
],
[
"QA",
"PossessionsStudyTechnicalBooks",
-0.2103573609
],
[
"RO",
"PossessionsStudyTechnicalBooks",
0.07066303011
],
[
"RU",
"PossessionsStudyTechnicalBooks",
0.0555544908
],
[
"SG",
"PossessionsStudyTechnicalBooks",
0
],
[
"SI",
"PossessionsStudyTechnicalBooks",
-0.05181430785
],
[
"SK",
"PossessionsStudyTechnicalBooks",
0.1035782551
],
[
"TN",
"PossessionsStudyTechnicalBooks",
0.04948877551
],
[
"US",
"PossessionsStudyTechnicalBooks",
0.04464442217
],
[
"AE",
"PossessionsNonStudy",
0.07772226643
],
[
"AL",
"PossessionsNonStudy",
0.0257148454
],
[
"AT",
"PossessionsNonStudy",
0.04392798462
],
[
"AU",
"PossessionsNonStudy",
-0.002707705669
],
[
"BE",
"PossessionsNonStudy",
-0.0178680473
],
[
"BG",
"PossessionsNonStudy",
0.1087550801
],
[
"BR",
"PossessionsNonStudy",
0.06880973905
],
[
"CA",
"PossessionsNonStudy",
0.009146553416
],
[
"CH",
"PossessionsNonStudy",
0.007971832123
],
[
"CL",
"PossessionsNonStudy",
0.02756321067
],
[
"CR",
"PossessionsNonStudy",
0.03706995327
],
[
"CZ",
"PossessionsNonStudy",
-0.02727267279
],
[
"DE",
"PossessionsNonStudy",
0.05958140546
],
[
"DK",
"PossessionsNonStudy",
0.03622857428
],
[
"EE",
"PossessionsNonStudy",
0.08304664646
],
[
"ES",
"PossessionsNonStudy",
0.06718089096
],
[
"FI",
"PossessionsNonStudy",
0.01700109806
],
[
"GB",
"PossessionsNonStudy",
0.007915969401
],
[
"GR",
"PossessionsNonStudy",
0.0521212811
],
[
"HK",
"PossessionsNonStudy",
0.05173669521
],
[
"HR",
"PossessionsNonStudy",
0.04908502836
],
[
"HU",
"PossessionsNonStudy",
0.04676336223
],
[
"IE",
"PossessionsNonStudy",
-0.02534862608
],
[
"IS",
"PossessionsNonStudy",
0
],
[
"IT",
"PossessionsNonStudy",
0.04444485577
],
[
"KZ",
"PossessionsNonStudy",
0.08881752102
],
[
"LI",
"PossessionsNonStudy",
0.382568818
],
[
"LT",
"PossessionsNonStudy",
0.09875280907
],
[
"LU",
"PossessionsNonStudy",
-0.01058119207
],
[
"LV",
"PossessionsNonStudy",
0.03580448943
],
[
"MO",
"PossessionsNonStudy",
0.02897984246
],
[
"MY",
"PossessionsNonStudy",
0.04596303539
],
[
"NL",
"PossessionsNonStudy",
-0.07229476456
],
[
"NO",
"PossessionsNonStudy",
0.02839694274
],
[
"NZ",
"PossessionsNonStudy",
0.01725629794
],
[
"PE",
"PossessionsNonStudy",
0
],
[
"PL",
"PossessionsNonStudy",
0.06376729721
],
[
"PT",
"PossessionsNonStudy",
0.08038856951
],
[
"QA",
"PossessionsNonStudy",
-0.02880567578
],
[
"RO",
"PossessionsNonStudy",
0.08937415317
],
[
"RU",
"PossessionsNonStudy",
0.0284552125
],
[
"SG",
"PossessionsNonStudy",
0.04013096146
],
[
"SI",
"PossessionsNonStudy",
0.03905016573
],
[
"SK",
"PossessionsNonStudy",
-0.02588195867
],
[
"TN",
"PossessionsNonStudy",
-0.1398700556
],
[
"US",
"PossessionsNonStudy",
0
],
[
"AE",
"PossessionsWealth",
-0.01587455466
],
[
"AL",
"PossessionsWealth",
-0.01915009293
],
[
"AT",
"PossessionsWealth",
0.01099905827
],
[
"AU",
"PossessionsWealth",
-0.03915871618
],
[
"BE",
"PossessionsWealth",
-0.0434744002
],
[
"BG",
"PossessionsWealth",
0.03609475539
],
[
"BR",
"PossessionsWealth",
0.02640645348
],
[
"CA",
"PossessionsWealth",
0.00416186102
],
[
"CH",
"PossessionsWealth",
-0.08073217031
],
[
"CL",
"PossessionsWealth",
0
],
[
"CR",
"PossessionsWealth",
-0.01612595832
],
[
"CZ",
"PossessionsWealth",
-0.05078328614
],
[
"DE",
"PossessionsWealth",
-0.1148202868
],
[
"DK",
"PossessionsWealth",
0.003795508947
],
[
"EE",
"PossessionsWealth",
0.01034536832
],
[
"ES",
"PossessionsWealth",
-0.02083486116
],
[
"FI",
"PossessionsWealth",
-0.03402288349
],
[
"GB",
"PossessionsWealth",
0.002686171068
],
[
"GR",
"PossessionsWealth",
0.02823609264
],
[
"HK",
"PossessionsWealth",
0.007608454281
],
[
"HR",
"PossessionsWealth",
-0.03177631518
],
[
"HU",
"PossessionsWealth",
0.009394003834
],
[
"IE",
"PossessionsWealth",
0.05060812552
],
[
"IS",
"PossessionsWealth",
0.09946664475
],
[
"IT",
"PossessionsWealth",
0.006198005244
],
[
"KZ",
"PossessionsWealth",
0.01260916931
],
[
"LI",
"PossessionsWealth",
-0.05898595244
],
[
"LT",
"PossessionsWealth",
0.04723604097
],
[
"LU",
"PossessionsWealth",
0.0009672681259
],
[
"LV",
"PossessionsWealth",
-0.03219105473
],
[
"MO",
"PossessionsWealth",
0.03149753335
],
[
"MY",
"PossessionsWealth",
-0.06212539685
],
[
"NL",
"PossessionsWealth",
-0.03797779725
],
[
"NO",
"PossessionsWealth",
-0.004119341623
],
[
"NZ",
"PossessionsWealth",
0.001216332235
],
[
"PE",
"PossessionsWealth",
-0.06030184513
],
[
"PL",
"PossessionsWealth",
0.06267649065
],
[
"PT",
"PossessionsWealth",
0.04575993632
],
[
"QA",
"PossessionsWealth",
-0.01007634341
],
[
"RO",
"PossessionsWealth",
-0.0202335646
],
[
"RU",
"PossessionsWealth",
-0.03103550134
],
[
"SG",
"PossessionsWealth",
-0.04746776309
],
[
"SI",
"PossessionsWealth",
-0.02565213366
],
[
"SK",
"PossessionsWealth",
-0.02908104706
],
[
"TN",
"PossessionsWealth",
0.05248090245
],
[
"US",
"PossessionsWealth",
-0.05486097278
],
[
"AE",
"Enjoyment",
0.7097739041
],
[
"AL",
"Enjoyment",
0.4821306646
],
[
"AT",
"Enjoyment",
0.4107700737
],
[
"AU",
"Enjoyment",
0.3141222146
],
[
"BE",
"Enjoyment",
0.1617430319
],
[
"BG",
"Enjoyment",
0.5339890781
],
[
"BR",
"Enjoyment",
0.5326731902
],
[
"CA",
"Enjoyment",
0.2604370285
],
[
"CH",
"Enjoyment",
0.3721156928
],
[
"CL",
"Enjoyment",
0.4874498029
],
[
"CR",
"Enjoyment",
0.2993177149
],
[
"CZ",
"Enjoyment",
0.2899357395
],
[
"DE",
"Enjoyment",
0.2612419516
],
[
"DK",
"Enjoyment",
0.4469786637
],
[
"EE",
"Enjoyment",
0.2982399282
],
[
"ES",
"Enjoyment",
0.2942485291
],
[
"FI",
"Enjoyment",
0.4048879626
],
[
"GB",
"Enjoyment",
0.3415161091
],
[
"GR",
"Enjoyment",
0.4973492737
],
[
"HK",
"Enjoyment",
0.3373469159
],
[
"HR",
"Enjoyment",
0.3416322453
],
[
"HU",
"Enjoyment",
0.3605174446
],
[
"IE",
"Enjoyment",
0.3816026445
],
[
"IS",
"Enjoyment",
0.3296075285
],
[
"IT",
"Enjoyment",
0.368687291
],
[
"KZ",
"Enjoyment",
0.5766561918
],
[
"LI",
"Enjoyment",
0.336839593
],
[
"LT",
"Enjoyment",
0.3865264667
],
[
"LU",
"Enjoyment",
0.2590303644
],
[
"LV",
"Enjoyment",
0.3062783572
],
[
"MO",
"Enjoyment",
0.22949668
],
[
"MY",
"Enjoyment",
0.5255818975
],
[
"NL",
"Enjoyment",
0.146979946
],
[
"NO",
"Enjoyment",
0.3370633125
],
[
"NZ",
"Enjoyment",
0.3425162819
],
[
"PE",
"Enjoyment",
0.5730719152
],
[
"PL",
"Enjoyment",
0.3348238887
],
[
"PT",
"Enjoyment",
0.4145128219
],
[
"QA",
"Enjoyment",
0.4474597906
],
[
"RO",
"Enjoyment",
0.4554562805
],
[
"RU",
"Enjoyment",
-0.1007069061
],
[
"SG",
"Enjoyment",
0.4082385899
],
[
"SI",
"Enjoyment",
0.3450815278
],
[
"SK",
"Enjoyment",
0.3772538837
],
[
"TN",
"Enjoyment",
0.63559263
],
[
"US",
"Enjoyment",
0.2299595055
],
[
"AE",
"MotivatingFactors",
0.04643478085
],
[
"AL",
"MotivatingFactors",
0.05611611644
],
[
"AT",
"MotivatingFactors",
0.0837970442
],
[
"AU",
"MotivatingFactors",
0.05620823963
],
[
"BE",
"MotivatingFactors",
0.0786105069
],
[
"BG",
"MotivatingFactors",
0.1150329892
],
[
"BR",
"MotivatingFactors",
0.02461842117
],
[
"CA",
"MotivatingFactors",
0.1594300655
],
[
"CH",
"MotivatingFactors",
0.08509950413
],
[
"CL",
"MotivatingFactors",
0.02257011526
],
[
"CR",
"MotivatingFactors",
0.09234380459
],
[
"CZ",
"MotivatingFactors",
0.08142843907
],
[
"DE",
"MotivatingFactors",
0.1630633896
],
[
"DK",
"MotivatingFactors",
0.1828003824
],
[
"EE",
"MotivatingFactors",
0.06313200567
],
[
"ES",
"MotivatingFactors",
0.1126834186
],
[
"FI",
"MotivatingFactors",
0.08021561202
],
[
"GB",
"MotivatingFactors",
0.1484565692
],
[
"GR",
"MotivatingFactors",
0.1418347385
],
[
"HK",
"MotivatingFactors",
0.03779471034
],
[
"HR",
"MotivatingFactors",
0.1118786811
],
[
"HU",
"MotivatingFactors",
0.07805632904
],
[
"IE",
"MotivatingFactors",
0.09672730547
],
[
"IS",
"MotivatingFactors",
0.1466845121
],
[
"IT",
"MotivatingFactors",
0.07051543978
],
[
"KZ",
"MotivatingFactors",
0.1286494382
],
[
"LI",
"MotivatingFactors",
0.2521799956
],
[
"LT",
"MotivatingFactors",
0.107980325
],
[
"LU",
"MotivatingFactors",
0.008741008508
],
[
"LV",
"MotivatingFactors",
0.2027338206
],
[
"MO",
"MotivatingFactors",
0.08725204712
],
[
"MY",
"MotivatingFactors",
0.1367310269
],
[
"NL",
"MotivatingFactors",
0.07543688171
],
[
"NO",
"MotivatingFactors",
0.2058242989
],
[
"NZ",
"MotivatingFactors",
0.1701072835
],
[
"PE",
"MotivatingFactors",
0.04187464977
],
[
"PL",
"MotivatingFactors",
0.1882738175
],
[
"PT",
"MotivatingFactors",
0.1473152865
],
[
"QA",
"MotivatingFactors",
-0.007993009192
],
[
"RO",
"MotivatingFactors",
0.07851202431
],
[
"RU",
"MotivatingFactors",
0.02213209476
],
[
"SG",
"MotivatingFactors",
0.06659400304
],
[
"SI",
"MotivatingFactors",
0.1404409989
],
[
"SK",
"MotivatingFactors",
0.1390063363
],
[
"TN",
"MotivatingFactors",
0.08706328258
],
[
"US",
"MotivatingFactors",
0.114567217
],
[
"AE",
"AtHomeMother",
0
],
[
"AL",
"AtHomeMother",
0.06162519847
],
[
"AT",
"AtHomeMother",
0.29069466
],
[
"AU",
"AtHomeMother",
0.01058123319
],
[
"BE",
"AtHomeMother",
-0.119798858
],
[
"BG",
"AtHomeMother",
0.1144060499
],
[
"BR",
"AtHomeMother",
0.002659484174
],
[
"CA",
"AtHomeMother",
-0.04195818432
],
[
"CH",
"AtHomeMother",
0.0191935713
],
[
"CL",
"AtHomeMother",
0.1053546387
],
[
"CR",
"AtHomeMother",
-0.03322901968
],
[
"CZ",
"AtHomeMother",
-0.07443925001
],
[
"DE",
"AtHomeMother",
0.6432743961
],
[
"DK",
"AtHomeMother",
0.04227020956
],
[
"EE",
"AtHomeMother",
0.2192561055
],
[
"ES",
"AtHomeMother",
0.134285305
],
[
"FI",
"AtHomeMother",
0.01239906042
],
[
"GB",
"AtHomeMother",
0.03777559776
],
[
"GR",
"AtHomeMother",
0.04000729406
],
[
"HK",
"AtHomeMother",
0.1114784204
],
[
"HR",
"AtHomeMother",
0.08641022766
],
[
"HU",
"AtHomeMother",
0.06263207322
],
[
"IE",
"AtHomeMother",
0
],
[
"IS",
"AtHomeMother",
-0.09974972626
],
[
"IT",
"AtHomeMother",
0.03507293247
],
[
"KZ",
"AtHomeMother",
0.06792322233
],
[
"LI",
"AtHomeMother",
2.077365732
],
[
"LT",
"AtHomeMother",
-0.4939535129
],
[
"LU",
"AtHomeMother",
0.08500579247
],
[
"LV",
"AtHomeMother",
0.07315429217
],
[
"MO",
"AtHomeMother",
-0.05515626327
],
[
"MY",
"AtHomeMother",
-0.01799575495
],
[
"NL",
"AtHomeMother",
-0.09551353005
],
[
"NO",
"AtHomeMother",
0.213826539
],
[
"NZ",
"AtHomeMother",
0.08138874202
],
[
"PE",
"AtHomeMother",
0.03872550707
],
[
"PL",
"AtHomeMother",
-0.04452177546
],
[
"PT",
"AtHomeMother",
0.1622624057
],
[
"QA",
"AtHomeMother",
-0.2307028952
],
[
"RO",
"AtHomeMother",
0.1510950118
],
[
"RU",
"AtHomeMother",
-0.09715211711
],
[
"SG",
"AtHomeMother",
0.03837437896
],
[
"SI",
"AtHomeMother",
-0.244300732
],
[
"SK",
"AtHomeMother",
-0.2062456062
],
[
"TN",
"AtHomeMother",
-0.08571583623
],
[
"US",
"AtHomeMother",
0.02317617608
],
[
"AE",
"AtHomeFather",
0.1224644242
],
[
"AL",
"AtHomeFather",
-0.06169883077
],
[
"AT",
"AtHomeFather",
0.09473106825
],
[
"AU",
"AtHomeFather",
0.05157131834
],
[
"BE",
"AtHomeFather",
0.1216933591
],
[
"BG",
"AtHomeFather",
0.1020687849
],
[
"BR",
"AtHomeFather",
-0.02256866276
],
[
"CA",
"AtHomeFather",
0.1504790548
],
[
"CH",
"AtHomeFather",
0.1179067245
],
[
"CL",
"AtHomeFather",
-0.008846272366
],
[
"CR",
"AtHomeFather",
-0.001622518583
],
[
"CZ",
"AtHomeFather",
0.1668006487
],
[
"DE",
"AtHomeFather",
0.2161051576
],
[
"DK",
"AtHomeFather",
0.05398679639
],
[
"EE",
"AtHomeFather",
0.1627719125
],
[
"ES",
"AtHomeFather",
0.05730062725
],
[
"FI",
"AtHomeFather",
0.06917879492
],
[
"GB",
"AtHomeFather",
0.1196681549
],
[
"GR",
"AtHomeFather",
0.1680461714
],
[
"HK",
"AtHomeFather",
0.1675847862
],
[
"HR",
"AtHomeFather",
0.2960973882
],
[
"HU",
"AtHomeFather",
0
],
[
"IE",
"AtHomeFather",
0.1469444616
],
[
"IS",
"AtHomeFather",
0.07159348569
],
[
"IT",
"AtHomeFather",
0.07827571808
],
[
"KZ",
"AtHomeFather",
0.01740031639
],
[
"LI",
"AtHomeFather",
-0.8487188838
],
[
"LT",
"AtHomeFather",
-0.1383926267
],
[
"LU",
"AtHomeFather",
-0.09784810131
],
[
"LV",
"AtHomeFather",
0.04096509951
],
[
"MO",
"AtHomeFather",
0.06068396726
],
[
"MY",
"AtHomeFather",
-0.01220757738
],
[
"NL",
"AtHomeFather",
-0.0009243809846
],
[
"NO",
"AtHomeFather",
-0.04540531694
],
[
"NZ",
"AtHomeFather",
0.07351432574
],
[
"PE",
"AtHomeFather",
0.01589169196
],
[
"PL",
"AtHomeFather",
0.03191438373
],
[
"PT",
"AtHomeFather",
-0.02646870669
],
[
"QA",
"AtHomeFather",
0.1108524215
],
[
"RO",
"AtHomeFather",
0.04042231615
],
[
"RU",
"AtHomeFather",
0.1799277229
],
[
"SG",
"AtHomeFather",
0.001058578286
],
[
"SI",
"AtHomeFather",
0.1254017644
],
[
"SK",
"AtHomeFather",
0.08860962869
],
[
"TN",
"AtHomeFather",
0.155702467
],
[
"US",
"AtHomeFather",
-0.004777421038
],
[
"AE",
"AtHomeBrothers",
0.04077367924
],
[
"AL",
"AtHomeBrothers",
0.1255535426
],
[
"AT",
"AtHomeBrothers",
-0.08922145558
],
[
"AU",
"AtHomeBrothers",
-0.07350479838
],
[
"BE",
"AtHomeBrothers",
-0.03517051956
],
[
"BG",
"AtHomeBrothers",
0.03067623655
],
[
"BR",
"AtHomeBrothers",
-0.01870946617
],
[
"CA",
"AtHomeBrothers",
-0.08351789436
],
[
"CH",
"AtHomeBrothers",
-0.1781974164
],
[
"CL",
"AtHomeBrothers",
-0.0191677255
],
[
"CR",
"AtHomeBrothers",
-0.08089290852
],
[
"CZ",
"AtHomeBrothers",
-0.09743667154
],
[
"DE",
"AtHomeBrothers",
0.1796983793
],
[
"DK",
"AtHomeBrothers",
-0.01551266089
],
[
"EE",
"AtHomeBrothers",
-0.07266056406
],
[
"ES",
"AtHomeBrothers",
0.003688371478
],
[
"FI",
"AtHomeBrothers",
0.01414007277
],
[
"GB",
"AtHomeBrothers",
-0.03393907172
],
[
"GR",
"AtHomeBrothers",
-0.08360272103
],
[
"HK",
"AtHomeBrothers",
-0.07578435141
],
[
"HR",
"AtHomeBrothers",
0.01340977065
],
[
"HU",
"AtHomeBrothers",
0.04669082884
],
[
"IE",
"AtHomeBrothers",
0.001847299737
],
[
"IS",
"AtHomeBrothers",
-0.03219616289
],
[
"IT",
"AtHomeBrothers",
-0.03761171352
],
[
"KZ",
"AtHomeBrothers",
-0.006987729122
],
[
"LI",
"AtHomeBrothers",
0.3733012515
],
[
"LT",
"AtHomeBrothers",
-0.01304872423
],
[
"LU",
"AtHomeBrothers",
0.1362018657
],
[
"LV",
"AtHomeBrothers",
-0.06604328802
],
[
"MO",
"AtHomeBrothers",
-0.08815762457
],
[
"MY",
"AtHomeBrothers",
-0.04930111909
],
[
"NL",
"AtHomeBrothers",
-0.02685876477
],
[
"NO",
"AtHomeBrothers",
-0.02109981565
],
[
"NZ",
"AtHomeBrothers",
-0.04682263393
],
[
"PE",
"AtHomeBrothers",
-0.04270707297
],
[
"PL",
"AtHomeBrothers",
-0.04404262137
],
[
"PT",
"AtHomeBrothers",
-0.01765405064
],
[
"QA",
"AtHomeBrothers",
0.08535408232
],
[
"RO",
"AtHomeBrothers",
-0.05654426618
],
[
"RU",
"AtHomeBrothers",
-0.0754599366
],
[
"SG",
"AtHomeBrothers",
0.008534360164
],
[
"SI",
"AtHomeBrothers",
-0.03564996165
],
[
"SK",
"AtHomeBrothers",
-0.03842910309
],
[
"TN",
"AtHomeBrothers",
-0.06329757635
],
[
"US",
"AtHomeBrothers",
-0.08867527619
],
[
"AE",
"AtHomeSisters",
0.04001049037
],
[
"AL",
"AtHomeSisters",
-0.01367161654
],
[
"AT",
"AtHomeSisters",
-0.06682661246
],
[
"AU",
"AtHomeSisters",
0.07321456555
],
[
"BE",
"AtHomeSisters",
-0.1268461134
],
[
"BG",
"AtHomeSisters",
0.002602589314
],
[
"BR",
"AtHomeSisters",
0.01616796278
],
[
"CA",
"AtHomeSisters",
-0.03502746437
],
[
"CH",
"AtHomeSisters",
-0.1035949098
],
[
"CL",
"AtHomeSisters",
0.01359608103
],
[
"CR",
"AtHomeSisters",
-0.1108000496
],
[
"CZ",
"AtHomeSisters",
-0.1027049018
],
[
"DE",
"AtHomeSisters",
0.07357011824
],
[
"DK",
"AtHomeSisters",
-0.01266382278
],
[
"EE",
"AtHomeSisters",
-0.06234135421
],
[
"ES",
"AtHomeSisters",
-0.006875558808
],
[
"FI",
"AtHomeSisters",
-0.00258223212
],
[
"GB",
"AtHomeSisters",
0.04624882016
],
[
"GR",
"AtHomeSisters",
0
],
[
"HK",
"AtHomeSisters",
-0.05614845352
],
[
"HR",
"AtHomeSisters",
-0.01184345597
],
[
"HU",
"AtHomeSisters",
-0.06605286371
],
[
"IE",
"AtHomeSisters",
-0.05889042206
],
[
"IS",
"AtHomeSisters",
-0.01408961842
],
[
"IT",
"AtHomeSisters",
-0.03056575154
],
[
"KZ",
"AtHomeSisters",
-0.08899218513
],
[
"LI",
"AtHomeSisters",
-0.2626927379
],
[
"LT",
"AtHomeSisters",
-0.02825559027
],
[
"LU",
"AtHomeSisters",
0.07478913514
],
[
"LV",
"AtHomeSisters",
-0.1250343385
],
[
"MO",
"AtHomeSisters",
0.01129588941
],
[
"MY",
"AtHomeSisters",
-0.01392644338
],
[
"NL",
"AtHomeSisters",
-0.0684082691
],
[
"NO",
"AtHomeSisters",
-0.1003190869
],
[
"NZ",
"AtHomeSisters",
-0.02655550712
],
[
"PE",
"AtHomeSisters",
0.07757313013
],
[
"PL",
"AtHomeSisters",
-0.05771723952
],
[
"PT",
"AtHomeSisters",
-0.07663068574
],
[
"QA",
"AtHomeSisters",
0.07074496213
],
[
"RO",
"AtHomeSisters",
-0.09622792309
],
[
"RU",
"AtHomeSisters",
-0.04917657464
],
[
"SG",
"AtHomeSisters",
0.02916910951
],
[
"SI",
"AtHomeSisters",
0.03564644632
],
[
"SK",
"AtHomeSisters",
0.1301862909
],
[
"TN",
"AtHomeSisters",
-0.04143591403
],
[
"US",
"AtHomeSisters",
0.04227452367
],
[
"AE",
"SenseOfBelonging",
0.0378381273
],
[
"AL",
"SenseOfBelonging",
0.03530253586
],
[
"AT",
"SenseOfBelonging",
0.01717049355
],
[
"AU",
"SenseOfBelonging",
-0.0008678982663
],
[
"BE",
"SenseOfBelonging",
0.004136954679
],
[
"BG",
"SenseOfBelonging",
0.05237459801
],
[
"BR",
"SenseOfBelonging",
0.02796704401
],
[
"CA",
"SenseOfBelonging",
0.03492392768
],
[
"CH",
"SenseOfBelonging",
0.03469404073
],
[
"CL",
"SenseOfBelonging",
-0.02863755722
],
[
"CR",
"SenseOfBelonging",
0.06596039168
],
[
"CZ",
"SenseOfBelonging",
0.02490140889
],
[
"DE",
"SenseOfBelonging",
-0.0328370536
],
[
"DK",
"SenseOfBelonging",
0.0156659849
],
[
"EE",
"SenseOfBelonging",
0.02426499578
],
[
"ES",
"SenseOfBelonging",
0.01500863224
],
[
"FI",
"SenseOfBelonging",
0.05407247763
],
[
"GB",
"SenseOfBelonging",
0
],
[
"GR",
"SenseOfBelonging",
-0.05811163874
],
[
"HK",
"SenseOfBelonging",
0.0576301678
],
[
"HR",
"SenseOfBelonging",
0.05955967212
],
[
"HU",
"SenseOfBelonging",
0.004078408296
],
[
"IE",
"SenseOfBelonging",
0.0237507036
],
[
"IS",
"SenseOfBelonging",
0.01546859485
],
[
"IT",
"SenseOfBelonging",
0
],
[
"KZ",
"SenseOfBelonging",
0.04555190454
],
[
"LI",
"SenseOfBelonging",
0.1153038561
],
[
"LT",
"SenseOfBelonging",
0.0272777759
],
[
"LU",
"SenseOfBelonging",
-0.03147869331
],
[
"LV",
"SenseOfBelonging",
-0.03346825766
],
[
"MO",
"SenseOfBelonging",
0.02732258951
],
[
"MY",
"SenseOfBelonging",
0.0451181372
],
[
"NL",
"SenseOfBelonging",
0.03142005181
],
[
"NO",
"SenseOfBelonging",
0.01106773828
],
[
"NZ",
"SenseOfBelonging",
0.05721457055
],
[
"PE",
"SenseOfBelonging",
0.054892737
],
[
"PL",
"SenseOfBelonging",
-0.01361713331
],
[
"PT",
"SenseOfBelonging",
-0.04787386561
],
[
"QA",
"SenseOfBelonging",
-0.07777414829
],
[
"RO",
"SenseOfBelonging",
0.05736481973
],
[
"RU",
"SenseOfBelonging",
0.122846895
],
[
"SG",
"SenseOfBelonging",
0.06694563685
],
[
"SI",
"SenseOfBelonging",
-0.01667197736
],
[
"SK",
"SenseOfBelonging",
-0.03994910514
],
[
"TN",
"SenseOfBelonging",
0.08344393182
],
[
"US",
"SenseOfBelonging",
0.05494619095
],
[
"AE",
"AttitudeToSchool",
0.1689800907
],
[
"AL",
"AttitudeToSchool",
0.1902207931
],
[
"AT",
"AttitudeToSchool",
0.202690623
],
[
"AU",
"AttitudeToSchool",
0.3227208664
],
[
"BE",
"AttitudeToSchool",
0.2772093163
],
[
"BG",
"AttitudeToSchool",
0.1436343964
],
[
"BR",
"AttitudeToSchool",
0.1813787713
],
[
"CA",
"AttitudeToSchool",
0.2081983882
],
[
"CH",
"AttitudeToSchool",
0.2074349389
],
[
"CL",
"AttitudeToSchool",
0.1847020957
],
[
"CR",
"AttitudeToSchool",
0.1777263221
],
[
"CZ",
"AttitudeToSchool",
0.3116881433
],
[
"DE",
"AttitudeToSchool",
0.193669585
],
[
"DK",
"AttitudeToSchool",
0.1440865941
],
[
"EE",
"AttitudeToSchool",
0.3290869678
],
[
"ES",
"AttitudeToSchool",
0.1943079715
],
[
"FI",
"AttitudeToSchool",
0.1923961689
],
[
"GB",
"AttitudeToSchool",
0.1225922364
],
[
"GR",
"AttitudeToSchool",
0.2289560527
],
[
"HK",
"AttitudeToSchool",
0.194069488
],
[
"HR",
"AttitudeToSchool",
0.1799036796
],
[
"HU",
"AttitudeToSchool",
0.2101442157
],
[
"IE",
"AttitudeToSchool",
0.1342594037
],
[
"IS",
"AttitudeToSchool",
0.2108210936
],
[
"IT",
"AttitudeToSchool",
0.2644083275
],
[
"KZ",
"AttitudeToSchool",
0.1040455759
],
[
"LI",
"AttitudeToSchool",
0.4463182386
],
[
"LT",
"AttitudeToSchool",
0.2305706074
],
[
"LU",
"AttitudeToSchool",
0.3846073866
],
[
"LV",
"AttitudeToSchool",
0.1162218837
],
[
"MO",
"AttitudeToSchool",
0.2688396155
],
[
"MY",
"AttitudeToSchool",
0.1298430988
],
[
"NL",
"AttitudeToSchool",
0.3355137254
],
[
"NO",
"AttitudeToSchool",
0.1939625795
],
[
"NZ",
"AttitudeToSchool",
0.1281715284
],
[
"PE",
"AttitudeToSchool",
0.1337204773
],
[
"PL",
"AttitudeToSchool",
0.1555241412
],
[
"PT",
"AttitudeToSchool",
0.2052844196
],
[
"QA",
"AttitudeToSchool",
0.3338240412
],
[
"RO",
"AttitudeToSchool",
0.2133660074
],
[
"RU",
"AttitudeToSchool",
0.2394525771
],
[
"SG",
"AttitudeToSchool",
0.1912073851
],
[
"SI",
"AttitudeToSchool",
0.2069048052
],
[
"SK",
"AttitudeToSchool",
0.2645002767
],
[
"TN",
"AttitudeToSchool",
0.1272924574
],
[
"US",
"AttitudeToSchool",
0.2003426395
],
[
"AE",
"PerceivedControl",
0.08403010991
],
[
"AL",
"PerceivedControl",
0.02769777076
],
[
"AT",
"PerceivedControl",
0.1373877457
],
[
"AU",
"PerceivedControl",
-0.004859957858
],
[
"BE",
"PerceivedControl",
0.04117833929
],
[
"BG",
"PerceivedControl",
-0.007515192744
],
[
"BR",
"PerceivedControl",
0.0495045609
],
[
"CA",
"PerceivedControl",
0.08415771922
],
[
"CH",
"PerceivedControl",
0.057299222
],
[
"CL",
"PerceivedControl",
0.03929766552
],
[
"CR",
"PerceivedControl",
0.1291812413
],
[
"CZ",
"PerceivedControl",
-0.06730248985
],
[
"DE",
"PerceivedControl",
-0.001632667068
],
[
"DK",
"PerceivedControl",
0.06300724012
],
[
"EE",
"PerceivedControl",
-0.02913623972
],
[
"ES",
"PerceivedControl",
0.08332520755
],
[
"FI",
"PerceivedControl",
0.07278694714
],
[
"GB",
"PerceivedControl",
0.1513634299
],
[
"GR",
"PerceivedControl",
0.02664395659
],
[
"HK",
"PerceivedControl",
0.04990195313
],
[
"HR",
"PerceivedControl",
-0.0203794029
],
[
"HU",
"PerceivedControl",
0.02763109244
],
[
"IE",
"PerceivedControl",
0.126573493
],
[
"IS",
"PerceivedControl",
0.1451287954
],
[
"IT",
"PerceivedControl",
0.02036752837
],
[
"KZ",
"PerceivedControl",
0.07791341072
],
[
"LI",
"PerceivedControl",
-0.55447324
],
[
"LT",
"PerceivedControl",
-0.01562684425
],
[
"LU",
"PerceivedControl",
0.07871869623
],
[
"LV",
"PerceivedControl",
0.09142647424
],
[
"MO",
"PerceivedControl",
-0.01957670527
],
[
"MY",
"PerceivedControl",
0.0244267212
],
[
"NL",
"PerceivedControl",
0.02466593298
],
[
"NO",
"PerceivedControl",
-0.01430956564
],
[
"NZ",
"PerceivedControl",
0.08130081153
],
[
"PE",
"PerceivedControl",
0.03539198829
],
[
"PL",
"PerceivedControl",
-0.02914221227
],
[
"PT",
"PerceivedControl",
0.07354856754
],
[
"QA",
"PerceivedControl",
0.1523172101
],
[
"RO",
"PerceivedControl",
0.06910328215
],
[
"RU",
"PerceivedControl",
-0.08057294631
],
[
"SG",
"PerceivedControl",
-0.005987980251
],
[
"SI",
"PerceivedControl",
-0.01870086936
],
[
"SK",
"PerceivedControl",
0.02467438988
],
[
"TN",
"PerceivedControl",
-0.02544138162
],
[
"US",
"PerceivedControl",
0.1351636787
] 
];
data.addColumn('string','country');
data.addColumn('string','Factor');
data.addColumn('number','Coefficient');
data.addRows(datajson);
return(data);
}
 
// jsDrawChart
function drawChartTableID7d716682173f() {
var data = gvisDataTableID7d716682173f();
var options = {};
options["allowHtml"] = true;
options["page"] = "enable";


    var chart = new google.visualization.Table(
    document.getElementById('TableID7d716682173f')
    );
    chart.draw(data,options);
    

}
  
 
// jsDisplayChart
(function() {
var pkgs = window.__gvisPackages = window.__gvisPackages || [];
var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
var chartid = "table";
  
// Manually see if chartid is in pkgs (not all browsers support Array.indexOf)
var i, newPackage = true;
for (i = 0; newPackage && i < pkgs.length; i++) {
if (pkgs[i] === chartid)
newPackage = false;
}
if (newPackage)
  pkgs.push(chartid);
  
// Add the drawChart function to the global list of callbacks
callbacks.push(drawChartTableID7d716682173f);
})();
function displayChartTableID7d716682173f() {
  var pkgs = window.__gvisPackages = window.__gvisPackages || [];
  var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
  window.clearTimeout(window.__gvisLoad);
  // The timeout is set to 100 because otherwise the container div we are
  // targeting might not be part of the document yet
  window.__gvisLoad = setTimeout(function() {
  var pkgCount = pkgs.length;
  google.load("visualization", "1", { packages:pkgs, callback: function() {
  if (pkgCount != pkgs.length) {
  // Race condition where another setTimeout call snuck in after us; if
  // that call added a package, we must not shift its callback
  return;
}
while (callbacks.length > 0)
callbacks.shift()();
} });
}, 100);
}
 
// jsFooter
</script>
 
<!-- jsChart -->  
<script type="text/javascript" src="https://www.google.com/jsapi?callback=displayChartTableID7d716682173f"></script>
 
<!-- divChart -->
  
<div id="TableID7d716682173f" 
  style="width: 1000 height: 2000;">
</div>
